<div class="container-fluid bg-gradient-primary fondo">
    <div class=" container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
    
            <div class="col-12 col-lg-12 col-md-9 cuadro-login">
    
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block ">
                                <img style="border:none" class="img-fluid img-thumbnail" src="../../../assets/img/logo_completo.jpg">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="text-dark mb-4">¡Bienvenido!</h1>
                                    </div>
                                    <form [formGroup]="loginForm" class="row user">
                                        <div class="form-group">
                                            <input type="text" formControlName="user" class="border-left-primary font-tamanio form-control" placeholder="Correo electrónico o nombre de usuario">
                                            <div *ngIf="user.invalid && (user.dirty || user.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                                <div *ngIf="user.errors.required">
                                                * El nombre de usuario es requerido.
                                                </div>
                                                <div *ngIf="user.errors.maxlength">
                                                * Se requieren máximo 60 caracteres.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" formControlName="password" class="border-left-primary font-tamanio form-control " placeholder="Contraseña">
                                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                                <div *ngIf="password.errors.required">
                                                * La contraseña es requerida.
                                                </div>
                                                <div *ngIf="password.errors.maxlength">
                                                * Se requieren máximo 60 caracteres.
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <button [disabled]="loginForm.invalid && !captchaInvalido" href="index.html" class="text-center boton btn btn-primary">
                                        <strong>Iniciar Sesión</strong>
                                        </button>

                                        <span class="mt-1 forgot-password text-center text-dark" style="cursor:pointer">¿Olvidó su contraseña?</span>&nbsp;   
                                        <div class="mt-1 ">
                                            <ngx-recaptcha2 class="captcha-form d-flex justify-content-center" #captchaElem [siteKey]="siteKey" (expire)="expiraCaptcha()" formControlName="recaptcha">
                                            </ngx-recaptcha2>
                                        </div>
                                        
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            
        </div>
    
    </div>
    <app-footer style="color:white" ></app-footer>
</div>
