.user{
    font-size: 1.1rem;
    margin-top: 3rem;
}

.boton{
    color:white;
    font-size: 1.1rem;
    border-radius: 1rem;
    height: 2.5rem;
    background: #4e73df;
}
.boton:hover{
    background:#4e72dfcd;
}
@media screen and (min-width:1080px) {
    .fondo{
        height: 100vh
    }
}
@media screen and (max-width:1360px) {
    .fondo{
        height: 100%
    }
}

@media screen and (max-width:1080px) {
    .fondo{
        height: 100vh
    }
}

@media screen and (max-width:987px) {
    .fondo{
        height: 100%
    }
}
@media screen and (max-width:768px) {
    .fondo{
        height: 100vh
    }
}
@media screen and (max-width:736px) {
    .fondo{
        height: 100%
    }
}
@media screen and (max-width:576px) {
    .fondo{
        height: 100vh
    }
}
@media screen and (max-width:568px) {
    .fondo{
        height: 100%
    }
}
@media screen and (max-width:540px) {
    .fondo{
        height: 100vh
    }
}
@media screen and (max-width: 500px) {
    .fondo{
        height: 100%
    }
}
@media screen and (max-width: 414px) {
    .fondo{
        height: 100vh
    }
}
@media screen and (max-width: 411px) {
    .fondo{
        height: 100vh
    }
}
@media screen and (max-width: 400px) {
    .fondo{
        height: 100vh
    }
}
@media screen and (max-width: 320px) {
    .fondo{
        height: 100%;
        margin-right: 10px;
        
    }
    .div-captcha{
        text-align: center;
    }
}
