
<div *ngIf = "!carga" class="row justify-content-center">
    <ngb-alert *ngIf="mostrar_alerta" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Usuarios</h1>

    <!-- DataTales Example -->
    
    
    <div class="card shadow mb-4 col-12 col-lg-11" style="height: 100%;">
        <div class="card-header py-3 row justify-content-between">
            <div class="py-1 col-sm-12 col-md-5 col-lg-4">
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="border-left-primary font-tamanio form-control" name="filtroTexto" placeholder="Buscar..." >
                    </div>
                    <div class="col-3 py-1">
                        <button  [disabled]="usuarios.length<=0" (click)="searchUser()" style="float:right" style="width: 100%;" type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="py-1 col-sm-12 col-md-4 col-lg-3" >
                <button  (click)="registerUser()" style="float:right" style="width: 100%;" type="button" class="btn btn-primary"><strong>Registrar usuario</strong></button>
            </div>
        </div>
        <div class="card-body text-gray-400 ">
            <div  *ngIf="usuarios.length<=0; else userModule">
                <h3>No hay usuarios registrados.</h3>
            </div>
            <ng-template #userModule>
                <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xls">
                    <table class="table table-bordered text-gray-400" id="dataTable" width="100%"  cellspacing="0">
                        <thead>
                            <tr>
                                <th ><span  class="row-table" >Código</span></th>
                                <th ><span  class="row-table" >Usuario</span></th>
                                <th ><span  class="row-table" >Email</span></th>
                                <th ><span  class="row-table" >Nombres</span></th>
                                <th ><span  class="row-table" >Apellidos</span></th>
                                <th ><span  class="row-table" >Sexo</span></th>
                                <th ><span  class="row-table" >DNI</span></th>
                                <th ><span  class="row-table" >Celular</span></th>
                                <th ><span  class="row-table" >Dirección</span></th>
                                <th ><span  class="row-table" >Rol</span></th>
                                <th ><span  class="row-table" >Estado</span></th>
                                <th ><span  class="row-table" >Acciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usuarios | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index  ">
                                <td class="col-1 row-table" >{{i + 1}}</td>
                                <td class="col-5 row-table" >{{user.USU_NOMBRES}}</td>
                                <td class="col-3 row-table" >{{user.ROL_ID==1?'Administrador':'Empleado'}}</td>
                                <td class="col-3 row-table" >{{user.USU_ESTADO==1?'Activo':'Inactivo'}}</td>
                                <td class="col-3" >
                                    <span class="row justify-content-center">
                                        <span class="col-6 col-lg-3"  *ngIf = "user.USU_ESTADO != 1 && user.USU_ESTADO !=2; else Habilitar">
                                            <a (click)="disableUser(user.USU_ID,user.USU_ESTADO)" class="btn btn-success btn-circle btn-sm " ngbTooltip="Habilitar">
                                                <i class="fas fa-check" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                        <ng-template #Habilitar>
                                            <span class="col-6 col-lg-3">
                                                <a (click)="disableUser(user.USU_ID,user.USU_ESTADO)"  class="btn btn-danger btn-circle btn-sm "ngbTooltip="Deshabilitar">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </ng-template>
                                        <span class="col-6 col-lg-3">
                                            <a (click)="editUser(user)" class="btn btn-warning btn-circle btn-sm" ngbTooltip="Editar" >
                                                <i style="color: white;" class="far fa-edit" aria-hidden="true"   ></i>
                                            </a>
                                        </span>
                                        
                                    </span>
                                    
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    <!---------------PAGINACIÓN------------->
                    <div *ngIf="usuarios?.length>0" style="margin-top: 5px;" class="row box-footer clearfix">     
                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-9 col-7">
                        <ngb-pagination *ngIf="usuarios?.length>10" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPage"  [collectionSize]="usuarios?.length" [(page)]="currentPage"></ngb-pagination>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5">
                        <select class="pull-right" [(ngModel)]="itemsPerPage" class="form-control form-control-sm custom-select">
                            <option value="10">10 elementos</option>
                            <option value="15">15 elementos</option>
                            <option value="20">20 elementos</option>                    
                        </select>  
                        </div>    
                    </div> 
                </div>
            </ng-template>
            
        </div>
    </div>

</div>
<!-- MODALES -->
<!-- <ng-template #editUserModal let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Usuario: {{userSelected.USU_NOMBRES}}</h4>
    </div>
    <div class="modal-body">
        <br>
        <form [formGroup]="userForm">
            <div class="form-group row">
                <div class="col-6">
                    <label for="">
                        Nombre del usuario
                    </label>
                </div>
                <div>
                    <input type="text" formControlName="nombreCategoria" class="border-left-primary font-tamanio form-control" placeholder="Ingrese la categoría">
                    <div *ngIf="nombreCategoria.invalid && (nombreCategoria.dirty || nombreCategoria.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="nombreCategoria.errors.required">
                        * El nombre de la categoría es requerido.
                        </div>
                        <div *ngIf="nombreCategoria.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <a (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                    <span class="text">Cancelar</span>
                </a>
            </div>
            <div class="col-4">
                <a (click)="updateUser(userSelected)" class="btn btn-primary btn-icon-split">
                    <span class="text">Aceptar</span>
                </a>
            </div>
        </div>
    </div>
</ng-template> -->
<ng-template #createUserModal let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="modal-title " >Registar Usuario</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <div class="form-group row">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputUser">Usuario</label>
                        <div>
                            <input type="text" formControlName="user" id="inputUser" class="border-left-primary font-tamanio form-control" placeholder="Ingrese la categoría">
                            <div *ngIf="user.invalid && (user.dirty || user.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="user.errors.required">
                                * El nombre de usuario es requerido.
                                </div>
                                <div *ngIf="user.errors.maxlength">
                                * Se requieren máximo 60 caracteres.
                                </div>
                                <div *ngIf="user.errors.pattern">
                                * El formato es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputEmail">Email</label>
                        <div>
                            <input type="text" formControlName="email" id="inputEmail" class="border-left-primary font-tamanio form-control" placeholder="Ingrese la categoría">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="email.errors.required">
                                * El nombre de usuario es requerido.
                                </div>
                                <div *ngIf="email.errors.maxlength">
                                * Se requieren máximo 60 caracteres.
                                </div>
                                <div *ngIf="email.errors.pattern">
                                * El formato es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="">Nombres</label>
                        <div>
                            <input type="text" formControlName="nombres" class="border-left-primary font-tamanio form-control" placeholder="Ingrese la categoría">
                            <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="nombres.errors.required">
                                * El nombre de la categoría es requerido.
                                </div>
                                <div *ngIf="nombres.errors.maxlength">
                                * Se requieren máximo 50 caracteres.
                                </div>
                                <div *ngIf="nombres.errors.pattern">
                                * El formato es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="">Nombres</label>
                        <div>
                            <input type="text" formControlName="nombres" class="border-left-primary font-tamanio form-control" placeholder="Ingrese la categoría">
                            <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="nombres.errors.required">
                                * El nombre de la categoría es requerido.
                                </div>
                                <div *ngIf="nombres.errors.maxlength">
                                * Se requieren máximo 50 caracteres.
                                </div>
                                <div *ngIf="nombres.errors.pattern">
                                * El formato es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
            </div>
        </form>
        <br>
        <div class="row justify-content-center ">
            <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                <a  (click)="createUser();" class="btn btn-primary btn-icon-split" >
                    <span class="text"><strong>Registrar</strong>&nbsp;<i class="fas fa-save"></i></span>
                </a>
            </div>
            <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                <a (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                    <span class="text"><strong>Cancelar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </a>
            </div>
            
        </div>
    </div>
</ng-template>