
<div class="row justify-content-center">
    <mat-progress-bar *ngIf="cargando && !modalIn" mode="indeterminate" class="alert-loading"></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && !modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" class="alert-loading">{{mensaje_alerta}}</ngb-alert>
    
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Usuarios</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 col-12 col-lg-11" style="height: 100%;">
        <div class="card-header py-3 row justify-content-between">
            <div class="py-1 col-sm-12 col-md-5 col-lg-4">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <input type="text" class="border-left-primary font-tamanio form-control" [(ngModel)]="filtroTexto"  name="filtroTexto" placeholder="Buscar..." >
                    </div>
                </div>
            </div>
            <div class="py-1 col-sm-12 col-md-4 col-lg-3" >
                <button  (click)="registerUserModal()" style="float:right" type="button" class="boton btn btn-primary ">Nuevo usuario</button>
            </div>
        </div>
        <div class="card-body text-gray-400 ">
            <div  *ngIf="usuarios.length<=0; else userModule">
                <h3>No hay usuarios registrados.</h3>
            </div>
            <!---------------PAGINACIÓN------------->
            <div *ngIf="usuarios?.length>0" class="row box-footer clearfix mt-3">     
                <div class="col-xl-10 col-lg-9 col-md-7 col-sm-7 col-6">
                <ngb-pagination *ngIf="usuarios?.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPage"  [collectionSize]="usuarios?.length" [(page)]="currentPage"></ngb-pagination>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 col-6">
                <select class="pull-right" [(ngModel)]="itemsPerPage" class="form-control form-control-sm custom-select">
                    <option value="50">50 elementos</option>                    
                    <option value="100">100 elementos</option>                    
                    <option value="200">200 elementos</option>                    
                </select>  
                </div>    
            </div>
            <ng-template #userModule>
                <div class="table-module">
                    <table class="table table-bordered text-gray-400" id="dataTable" cellspacing="1">
                        <thead>
                            <tr>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_ID" (sort)="onSort($event)">Código</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_NOMBRES" (sort)="onSort($event)">Nombres</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_APELLIDO_PATERNO" (sort)="onSort($event)">Apellidos</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_CELULAR" (sort)="onSort($event)">Celular</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="ROL_ID" (sort)="onSort($event)">Rol</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_ESTADO" (sort)="onSort($event)">Estado</th>
                                <th class="color-row-table text-center puntero" >Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usuarios | filterUserByName:filtroTexto | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index  ">
                                <td *ngIf="user.USU_ID != USU_ID && user.USU_ID != 1 && user.USU_ID != 2"  class="color-row-table" >{{user.USU_ID}}</td>
                                <td *ngIf="user.USU_ID != USU_ID && user.USU_ID != 1 && user.USU_ID != 2"  class="color-row-table" >{{user.USU_NOMBRES}}</td>
                                <td *ngIf="user.USU_ID != USU_ID && user.USU_ID != 1 && user.USU_ID != 2"  class="color-row-table" >{{user.USU_APELLIDO_PATERNO}}&nbsp;{{user.USU_APELLIDO_MATERNO}}</td>
                                <td *ngIf="user.USU_ID != USU_ID && user.USU_ID != 1 && user.USU_ID != 2"  class="color-row-table" >{{user.USU_CELULAR}}</td>
                                <td *ngIf="user.USU_ID != USU_ID && user.USU_ID != 1 && user.USU_ID != 2"  class="color-row-table" >{{user.ROL_ID==1?'Empleado':'Administrador'}}</td>
                                <td *ngIf="user.USU_ID != USU_ID && user.USU_ID != 1 && user.USU_ID != 2"  class="color-row-table" >{{user.USU_ESTADO==1?'Activo':'Inactivo'}}</td>
                                <td *ngIf="user.USU_ID != USU_ID && user.USU_ID != 1 && user.USU_ID != 2"  class="color-row-table" >
                                    <div class="row btnes">
                                        <div class="col-1 button-table"  *ngIf="user.USU_ESTADO != 1 && user.USU_ESTADO !=2; else Habilitar">
                                            <span (click)="habilitarInhabilitarUsuario(user.USU_ID,user.USU_ESTADO)" class="btn btn-success btn-circle btn-sm " ngbTooltip="Habilitar">
                                                <i class="fas fa-check" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <ng-template #Habilitar>
                                            <div class="col-1 button-table">
                                                <span (click)="habilitarInhabilitarUsuario(user.USU_ID,user.USU_ESTADO)"  class="btn btn-danger btn-circle btn-sm "ngbTooltip="Deshabilitar">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <div class="col-1 button-table">
                                            <span   (click)="seeMore(user)" class="btn btn-primary btn-circle btn-sm" ngbTooltip="Ver Más" >
                                                <i class="fas fa-eye" aria-hidden="true"   ></i>
                                            </span>
                                        </div>
                                        <div class="col-1 button-table btn-edit">
                                            <span (click)="editUser(user)" class="btn btn-warning btn-circle btn-sm" ngbTooltip="Editar" >
                                                <i style="color: white;" class="far fa-edit" aria-hidden="true"   ></i>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    
                </div>
            </ng-template>
            
        </div>
    </div>

</div>
<!-- MODALES -->
<ng-template #editUserModal let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="modal-title">Actualizar Usuario</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputNombres">Nombres</label>
                            <div>
                                <input type="text" formControlName="nombres" id="inputNombres" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Nombre(s)">
                                <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="nombres.errors.required">
                                    * El nombre de usuario es requerido.
                                    </div>
                                    <div *ngIf="nombres.errors.maxlength">
                                    * Se requieren máximo 60 caracteres.
                                    </div>
                                    <div *ngIf="nombres.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputSexo" data-toggle="tooltip" data-placement="top" title="*Obligatorio">Sexo: <small class="text-danger" data-toggle="tooltip" data-placement="top" title="*Obligatorio">(*)</small></label>
                            <select  formControlName="sexo_" id="inputSexo" class="border-left-primary form-select">
                                <option hidden value="" disabled>Selecciona una opción</option>
                                <option [value]="1" >MASCULINO</option>
                                <option [value]="0" >FEMENINO</option>
                            </select>
                            <div *ngIf="sexo_.invalid && (sexo_.dirty || sexo_.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="sexo_.errors.required">
                                    * El tipo de sexo es requerido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputApellidoPaterno">Apellido Paterno</label>
                            <div>
                                <input type="text" formControlName="apellido_paterno" id="inputApellidoPaterno" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Primer Apellido">
                                <div *ngIf="apellido_paterno.invalid && (apellido_paterno.dirty || apellido_paterno.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="apellido_paterno.errors.required">
                                    * El apellido paterno es requerido.
                                    </div>
                                    <div *ngIf="apellido_paterno.errors.maxlength">
                                    * Se requieren máximo 30 caracteres.
                                    </div>
                                    <div *ngIf="apellido_paterno.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputApeliidoMaterno">Apellido Materno</label>
                            <div>
                                <input type="text" formControlName="apellido_materno" id="inputApeliidoMaterno" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Segundo Apellido">
                                <div *ngIf="apellido_materno.invalid && (apellido_materno.dirty || apellido_materno.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="apellido_materno.errors.required">
                                    * El apellido materno es requerido.
                                    </div>
                                    <div *ngIf="apellido_materno.errors.maxlength">
                                    * Se requieren máximo 30 caracteres.
                                    </div>
                                    <div *ngIf="apellido_materno.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputUser" >Usuario</label>
                            <div>
                                <input type="text" id="inputUser" formControlName="user" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Alias de usuario">
                                <div *ngIf="user.invalid && (user.dirty || user.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="user.errors.required">
                                    * El alias de usuario es requerido.
                                    </div>
                                    <div *ngIf="user.errors.maxlength">
                                    * Se requieren máximo 60 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputContraseña">Contraseña:</label>
                            <div class="p-0 col-sm-8 col-md-12 col-lg-12 d-flex">
                                <input id="inputContraseña" type={{PASSWORD_CURRENT_TYPE}} id="inputContrasenia" formControlName="contrasena" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Contraseña">
                                <button style="border-style:none" (click)="cambiarVistaContrasena()">
                                    <i  class={{PASSWORD_CURRENT_ICON}} aria-hidden="true" ></i>
                                </button>
                            </div>
                            <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="contrasena.errors.maxlength">
                                * Se requieren máximo 20 caracteres.
                                </div>
                                <div *ngIf="contrasena.errors.minlength">
                                * Se requieren mínimo 8 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputEmail">Correo electrónico</label>
                            <div>
                                <input type="email" formControlName="email" id="inputEmail" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Email">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="email.errors.required">
                                    * El email es requerido.
                                    </div>
                                    <div *ngIf="email.errors.maxlength">
                                    * Se requieren máximo 60 caracteres.
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputCelular">Celular <small class="text-danger">&nbsp;(Ejemplo: +51987802338)</small></label>
                            <div>
                                <input type="text" formControlName="celular" id="inputCelular" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Celular">
                                <div *ngIf="celular.invalid && (celular.dirty || celular.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="celular.errors.required">
                                    * El celular es requerido.
                                    </div>
                                    <div *ngIf="celular.errors.maxlength">
                                    * Se requieren máximo 20 caracteres.
                                    </div>
                                    <div *ngIf="celular.errors.minlength">
                                    * Se requieren mínimo 12 caracteres.
                                    </div>
                                    <div *ngIf="celular.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label style="padding-left:0.5rem">Fecha de Nacimiento</label>
                            <input  [max]="getTodayFechaNacimiento()" [ngClass]="{'textoGris': opacarDateFechaNacimiento }" 
                                (change)="cambiarDeStyleDate()" formControlName="fecha_nacimiento" type="date" id="fechaInput" name="fechaInput" class="border-left-primary  form-control" >
                            <div *ngIf="fecha_nacimiento.invalid && (fecha_nacimiento.dirty || fecha_nacimiento.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="fecha_nacimiento.errors.required">
                                * La fecha es requerida.
                                </div>
                            </div>
                            
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputdni">DNI</label>
                            <div>
                                <input type="text" formControlName="dni" id="inputdni" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Documento de Identidad">
                                <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="dni.errors.required">
                                    * El DNI es requerido.
                                    </div>
                                    <div *ngIf="dni.errors.maxlength">
                                    * Se requieren máximo 8 caracteres.
                                    </div>
                                    <div *ngIf="dni.errors.minlength">
                                    * Se requieren mínimo 8 caracteres.
                                    </div>
                                    <div *ngIf="dni.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputDireccion">Dirección</label>
                            <div>
                                <input type="text" formControlName="direccion" id="inputDireccion" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Dirección">
                                <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="direccion.errors.required">
                                    * El direccion es requerido.
                                    </div>
                                    <div *ngIf="direccion.errors.maxlength">
                                    * Se requieren máximo 100 caracteres.
                                    </div>
                                    <div *ngIf="direccion.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label class="mr-sm-2" for="inputRol">Rol</label>
                            <select  formControlName="rol" id="inputRol" class="border-left-primary form-select mr-sm-2" >
                                <option hidden value="" disabled>Escoge una opción</option>
                                <option [value]="rol.ROL_ID" *ngFor="let rol of roles">{{rol.ROL_NOMBRE}}</option>
                            </select>
                            <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="rol.errors.required">
                                    * El rol es requerido.
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
        <div class="row d-flex text-center justify-content-center">
            <div class="my-2 col-sm-12 col-md-12 col-lg-3 ">
                <button  (click)="updateUser();" [disabled]="userForm.invalid || cargando" class="btn btn-primary btn-icon-split" >
                    <span class="text">Actualizar&nbsp;<i class="fas fa-save"></i></span>
                </button>
            </div>
            <div class="my-2 col-sm-12 col-md-12 col-lg-3">
                <button [disabled]="cargando" (click)="d('Cross click')" class="btn btn-warning btn-icon-split">
                    <span class="text">Cancelar&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #createUserModal let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="modal-title " >Registar Usuario</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputNombres">Nombres</label>
                            <div>
                                <input type="text" formControlName="nombres" id="inputNombres" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Nombre(s)">
                                <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="nombres.errors.required">
                                    * El nombre de usuario es requerido.
                                    </div>
                                    <div *ngIf="nombres.errors.maxlength">
                                    * Se requieren máximo 60 caracteres.
                                    </div>
                                    <div *ngIf="nombres.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputSexo">Sexo</label>
                            <div class="row">
                                    <div class="form-check" style="align-items: center;text-align: center;">
                                        <input (change)="obtenerSexo('M')"  class="form-check-input" type="radio" name="exampleRadios" id="inputMasculino">
                                        <label class="form-check-label" for="inputMasculino">Masculino</label>
                                    </div>
                                    <div class="form-check" style="align-items: center;text-align: center;">
                                        <input (change)="obtenerSexo('F')"  class="form-check-input" type="radio" name="exampleRadios" id="inputFemenino" checked>
                                        <label class="form-check-label" for="inputFemenino">Femenino</label>
                                    </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputApellidoPaterno">Apellido Paterno</label>
                            <div>
                                <input type="text" formControlName="apellido_paterno" id="inputApellidoPaterno" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Primer Apellido">
                                <div *ngIf="apellido_paterno.invalid && (apellido_paterno.dirty || apellido_paterno.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="apellido_paterno.errors.required">
                                    * El apellido paterno es requerido.
                                    </div>
                                    <div *ngIf="apellido_paterno.errors.maxlength">
                                    * Se requieren máximo 30 caracteres.
                                    </div>
                                    <div *ngIf="apellido_paterno.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputApeliidoMaterno">Apellido Materno</label>
                            <div>
                                <input type="text" formControlName="apellido_materno" id="inputApeliidoMaterno" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Segundo Apellido">
                                <div *ngIf="apellido_materno.invalid && (apellido_materno.dirty || apellido_materno.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="apellido_materno.errors.required">
                                    * El apellido materno es requerido.
                                    </div>
                                    <div *ngIf="apellido_materno.errors.maxlength">
                                    * Se requieren máximo 30 caracteres.
                                    </div>
                                    <div *ngIf="apellido_materno.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputUser" >Usuario</label>
                            <div>
                                <input type="text" id="inputUser" formControlName="user" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Alias de usuario">
                                <div *ngIf="user.invalid && (user.dirty || user.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="user.errors.required">
                                    * El nombre de la categoría es requerido.
                                    </div>
                                    <div *ngIf="user.errors.maxlength">
                                    * Se requieren máximo 60 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputContraseña">Contraseña:</label>
                            <div class="p-0 col-sm-8 col-md-12 col-lg-12 d-flex">
                                <input id="inputContraseña" type={{PASSWORD_CURRENT_TYPE}} id="inputContrasenia" formControlName="contrasena" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Contraseña">
                                <button style="border-style:none" (click)="cambiarVistaContrasena()">
                                    <i  class={{PASSWORD_CURRENT_ICON}} aria-hidden="true" ></i>
                                </button>
                            </div>
                            <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="contrasena.errors.required">
                                * La contraseña es requerida.
                                </div>
                                <div *ngIf="contrasena.errors.maxlength">
                                * Se requieren máximo 20 caracteres.
                                </div>
                                <div *ngIf="contrasena.errors.minlength">
                                * Se requieren mínimo 8 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputEmail">Correo electrónico</label>
                            <div>
                                <input type="email" formControlName="email" id="inputEmail" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Email">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="email.errors.required">
                                    * El email es requerido.
                                    </div>
                                    <div *ngIf="email.errors.maxlength">
                                    * Se requieren máximo 60 caracteres.
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputCelular">Celular <small class="text-danger">&nbsp;(Ejemplo: +51987802338)</small></label>
                            <div>
                                <input type="text" formControlName="celular" id="inputCelular" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Celular">
                                <div *ngIf="celular.invalid && (celular.dirty || celular.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="celular.errors.required">
                                    * El celular es requerido.
                                    </div>
                                    <div *ngIf="celular.errors.maxlength">
                                    * Se requieren máximo 20 caracteres.
                                    </div>
                                    <div *ngIf="celular.errors.minlength">
                                    * Se requieren mínimo 12 caracteres.
                                    </div>
                                    <div *ngIf="celular.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label style="padding-left:0.5rem">Fecha de Nacimiento</label>
                            <input  [max]="getTodayFechaNacimiento()" [ngClass]="{'textoGris': opacarDateFechaNacimiento }" 
                                (change)="cambiarDeStyleDate()" formControlName="fecha_nacimiento" type="date" id="fechaInput" name="fechaInput" class="border-left-primary  form-control" >
                            <div *ngIf="fecha_nacimiento.invalid && (fecha_nacimiento.dirty || fecha_nacimiento.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="fecha_nacimiento.errors.required">
                                * La fecha es requerida.
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputdni">DNI</label>
                            <div>
                                <input type="text" formControlName="dni" id="inputdni" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Documento de Identidad">
                                <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="dni.errors.required">
                                    * El DNI es requerido.
                                    </div>
                                    <div *ngIf="dni.errors.maxlength">
                                    * Se requieren máximo 8 caracteres.
                                    </div>
                                    <div *ngIf="dni.errors.minlength">
                                    * Se requieren mínimo 8 caracteres.
                                    </div>
                                    <div *ngIf="dni.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputDireccion">Dirección</label>
                            <div>
                                <input type="text" formControlName="direccion" id="inputDireccion" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Dirección">
                                <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="direccion.errors.required">
                                    * El direccion es requerido.
                                    </div>
                                    <div *ngIf="direccion.errors.maxlength">
                                    * Se requieren máximo 100 caracteres.
                                    </div>
                                    <div *ngIf="direccion.errors.pattern">
                                    * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label class="mr-sm-2" for="inputRol">Rol</label>
                            <select  formControlName="rol" id="inputRol" class="border-left-primary form-select mr-sm-2" >
                                <option hidden value="" disabled>Escoge una opción</option>
                                <option [value]="rol.ROL_ID" *ngFor="let rol of roles">{{rol.ROL_NOMBRE}}</option>
                            </select>
                            <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="rol.errors.required">
                                    * El rol es requerido.
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
        <div class="row d-flex text-center justify-content-center">
            <div class="my-2 col-sm-12 col-md-12 col-lg-3 ">
                <button  (click)="createUser();" [disabled]="userForm.invalid || cargando" class="btn btn-primary btn-icon-split" >
                    <span class="text">Registrar&nbsp;<i class="fas fa-save"></i></span>
                </button>
            </div>
            <div class="my-2 col-sm-12 col-md-12 col-lg-3">
                <button [disabled]="cargando" (click)="d('Cross click')" class="btn btn-warning btn-icon-split">
                    <span class="text">Cancelar&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </button>
            </div>
        </div>
        
    </div>
</ng-template>

<ng-template #seeMoreModal>
    <div class="modal-header justify-content-center">
        <h4 class="modal-title">Ver Usuario</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputNombres">Nombres</label>
                            <div>
                                <input type="text" disabled value="{{userSelected.USU_NOMBRES}}" id="inputNombres" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputSexo">Sexo</label>
                            <div>
                                <input type="text" disabled value="{{userSelected.USU_SEXO == 'M'?'Masculino':userSelected.USU_SEXO == 'F'?'Femenino':'error'}}" id="inputSexo" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputApellidoPaterno">Apellido Paterno</label>
                            <div>
                                <input type="text" disabled value="{{userSelected.USU_APELLIDO_PATERNO}}" id="inputApellidoPaterno" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputApeliidoMaterno">Apellido Materno</label>
                            <div>
                                <input type="text" disabled value="{{userSelected.USU_APELLIDO_MATERNO}}" id="inputApeliidoMaterno" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputUser" >Usuario</label>
                            <div>
                                <input type="text" id="inputUser" disabled value="{{userSelected.USU_USUARIO}}" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                        <div class="my-2 col-sm-11 col-md-11 col-lg-6">
                            <label for="inputContraseña">Contraseña:</label>
                            <div class="p-0 col-sm-8 col-md-12 col-lg-12 d-flex">
                                <input disabled id="inputContraseña" type={{PASSWORD_CURRENT_TYPE}} id="inputContrasenia" value="{{userSelected.USU_CONTRASENIA}}" class="border-left-primary font-tamanio form-control" >
                                <button style="border-style:none" (click)="cambiarVistaContrasena()">
                                    <i  class={{PASSWORD_CURRENT_ICON}} aria-hidden="true" ></i>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputEmail">Correo electrónico</label>
                            <div>
                                <input type="email" disabled value="{{userSelected.USU_EMAIL}}" id="inputEmail" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputCelular">Celular</label>
                            <div>
                                <input type="text" disabled value="{{userSelected.USU_CELULAR}}" id="inputCelular" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label style="padding-left:0.5rem">Fecha de Nacimiento</label>
                            <input  disabled value="{{userSelected.USU_FECHA_NACIMIENTO | date: 'dd/MM/yyyy'}}" type="text" id="fechaInput" name="fechaInput" class="border-left-primary  form-control" >
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputdni">DNI</label>
                            <div>
                                <input type="text" disabled value="{{userSelected.USU_DNI}}" id="inputdni" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label for="inputDireccion">Dirección</label>
                            <div>
                                <input type="text" disabled value="{{userSelected.USU_DIRECCION}}" id="inputDireccion" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                            <label class="mr-sm-2" for="inputRol">Rol</label>
                            <div>
                                <input type="text" disabled value="{{userSelected.ROL_ID===2?'Administrador':userSelected.ROL_ID===1?'Empleado':'error'}}" id="inputRol" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                    </div>
            </div>
        </form>
        <br>
        <div class="row justify-content-center ">
            <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                <a (click)="closeModal()" class="btn btn-warning btn-icon-split">
                    <span class="text"><strong>Cancelar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </a>
            </div>
        </div>
    </div>
</ng-template>