<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Navbar Toggle (Topbar) (MINIMIZADO) -->
    <li class=" dropdown btn btn-link ">
        <button class="btn btn-link d-md-none dropdown-toggle" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </button>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">
                <i class="fas fa-fw fa-home fa-lg fa-fw mr-2 text-gray-400"></i>
                Inicio
            </a>
            
            <a class="dropdown-item" href="#">
                <i class="fas fa-shopping-cart fa-lg fa-fw mr-2 text-gray-400"></i>
                Ventas
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-tags fa-lg fa-fw mr-2 text-gray-400"></i>
                Productos
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-truck fa-lg fa-fw mr-2 text-gray-400"></i>
                Compras
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-chart-bar fa-lg fa-fw mr-2 text-gray-400"></i>
                Reportes
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Administración 
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" (click)="cerrarSesion()" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-lg fa-fw mr-2 text-gray-400"></i>
                Cerrar Sesión
            </a>
        </div>
    </li>

    <!--Nombre en el navbar-->
    <span class="h3 text-primary text-center "><strong class="texto-tittle">CanVet</strong></span><h4 class="mt-1" [ngStyle]="{'display':width<768?'none':''}">&nbsp;&nbsp;&nbsp;&nbsp;Veterinaria & Spa</h4>
    
    <!-- Topbar Navbar (MAXIMIZADO)-->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{USE_USUARIO}}</span>
                <img class="img-profile rounded-circle"
                    src="../../../assets/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" [routerLink]="['/profile']" >
                    <i class="fas fa-user fa-lg fa-fw mr-2 text-gray-400"></i>
                    Mi perfil
                </a>
                <!-- <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-lg fa-fw mr-2 text-gray-400"></i>
                    Configuraciones
                </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" (click)="cerrarSesion()" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-lg fa-fw mr-2 text-gray-400"></i>
                    Cerrar Sesión
                </a>
            </div>
        </li>

    </ul>

</nav>
