<div class="row justify-content-center">
    <mat-progress-bar *ngIf="cargando && !modalIn" mode="indeterminate" class="alert-loading"></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && !modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" class="alert-loading">{{mensaje_alerta}}</ngb-alert>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Registro de Venta</h1>
    <div class="card shadow mb-4 col-12 col-lg-11" >
        <div class="card-header py-3 row">
            <div class="col-sm-12 col-md-5 ">
                <button (click)="listarProductos()" type="button" class="btn btn-primary" ><i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buscar Artículos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
            
        </div>
        <div class="card-body text-gray-400 ">
            <div  *ngIf="productos_detalle.length<=0; else detalleModule">
                <h1 class="h3 mb-2 text-gray-800 col-12 text-center">No hay artículos seleccionados.</h1>
            </div>
            <div *ngIf="productos_detalle.length>0" class="row h4 text-dark mt-3">
                <div *ngIf="TotalVentaTarjeta<=0  || !mostrar_porcentaje_total" class="col-sm-12 col-md-2">
                </div>
                <div class="offset-md-8 offset-sm-0  col-sm-12 col-md-2">
                    <span>Total: </span><p type="text" class="border-left-primary form-control">S/{{TotalVenta.toFixed(2)}}</p>
                </div>
                <div *ngIf="TotalVentaTarjeta>0 && mostrar_porcentaje_total" class="col-sm-12 col-md-2">
                    <span>Tarjeta (+5%): </span><p type="text" class="border-left-primary form-control">S/{{TotalVentaTarjeta.toFixed(2)}}</p>
                </div>
            </div>
            <span *ngIf="mostrar_alerta_tabla && !modalIn" class="row justify-content-center text-danger" >{{mensaje_tabla}}</span>
            <ng-template #detalleModule>
                <div class="table-module text-center">
                    <table class="table table-bordered text-gray-400" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="color-row-table">Categoría</th>
                                <th class="color-row-table">Producto</th>
                                <th class="color-row-table">Tamaño/Talla</th>
                                <th class="color-row-table">P. Venta</th>
                                <!-- <th class="color-row-table">P. Compra</th> -->
                                <th class="color-row-table">Stock</th>
                                <th class="color-row-table">Cantidad</th>
                                <th class="color-row-table">Importe (S/)</th>
                                <th class="color-row-table">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos_detalle | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index  ">
                                <td [ngStyle]="{'background':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=0?'white':'#6E707E'}" class="color-row-table">{{producto.CAT_NOMBRE}}</td>
                                <td [ngStyle]="{'background':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=0?'white':'#6E707E'}" class="color-row-table">{{producto.PRO_NOMBRE}}</td>
                                <td [ngStyle]="{'background':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=0?'white':'#6E707E'}" class="color-row-table">{{producto.PRO_TAMANIO_TALLA}}</td>
                                <td [ngStyle]="{'background':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=0?'white':'#6E707E'}" class="color-row-table">{{producto.PRO_PRECIO_VENTA.toFixed(2)}}</td>
                                <!-- <td [ngStyle]="{'background':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=0?'white':'#6E707E'}" class="color-row-table">{{producto.PRO_PRECIO_COMPRA.toFixed(2)}}</td> -->
                                <td [ngStyle]="{'background':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=0?'white':'#6E707E'}" class="color-row-table">{{producto.PRO_STOCK}}</td>
                                <td class="color-row-table">
                                    <input [disabled]="producto.PRO_STOCK<=0" type="text" class="border-left-primary form-control"  (keyup)="agregarCantidadTabla(producto.PRO_PRECIO_VENTA,i)" [(ngModel)]="cantidad_detalles[i]">
                                </td>
                                <td class="color-row-table">
                                    <span *ngIf="importes[i]">{{importes[i].toFixed(2)}}</span>
                                </td>
                                <td class="color-row-table">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <span (click)="quitarProducto(producto,i)" class="btn btn-danger btn-circle btn-sm " ngbTooltip="Quitar">
                                                <i class="fas fa-trash" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </div>
        
    </div>

    <div class="card shadow mb-4 col-12 col-lg-11" style="height: 100%;">
        
        <div class="card-header py-3 row justify-content-between">
            <div class="py-1 col-sm-12 col-md-5 col-lg-4">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <h5>Comprobante de pago</h5>
                    </div>
                </div>
            </div>
            <div class="py-1 col-sm-12 col-md-4 col-lg-3" >
                <button (click)="nuevoCliente()" style="float:right" type="button" class="boton btn btn-primary ">Nuevo Cliente</button>
            </div>
        </div>
        <div class="card-body text-gray-400 ">
            <form [formGroup]="comprobanteForm">
                <div class="row color-row-table">
                    <div class="col-sm-12 col-md-5">
                        <label for="inputFechaComprobante">Fecha de Registro:</label>
                        <input [max]="getTodayFecha()" [ngClass]="{'textoGris': opacarFecha }" (change)="cambiarDeStyleDate()" type="date" name="inputFechaComprobante" formControlName="fecha_emision" class="border-left-primary font-tamanio form-control">
                        <div *ngIf="fecha_emision.invalid && (fecha_emision.dirty || fecha_emision.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="fecha_emision.errors.required">
                                * La fecha de emisión es requerida.
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-sm-12 col-md-12 col-lg-6 mb-4">
                                <label for="inputFechaComprobante">Fecha de Emisión:</label>
                                <input [max]="getTodayFecha()" [ngClass]="{'textoGris': opacarFecha }" (change)="cambiarDeStyleDate()" type="date" name="inputFechaComprobante" formControlName="fecha_emision" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="fecha_emision.invalid && (fecha_emision.dirty || fecha_emision.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="fecha_emision.errors.required">
                                        * La fecha de emisión es requerida.
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-12 col-md-12 col-lg-6 mb-4">
                                <label for="inputFechaComprobante">Fecha de Emisión:</label>
                                <input [max]="getTodayFecha()" [ngClass]="{'textoGris': opacarFecha }" (change)="cambiarDeStyleDate()" type="date" name="inputFechaComprobante" formControlName="fecha_emision" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="fecha_emision.invalid && (fecha_emision.dirty || fecha_emision.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="fecha_emision.errors.required">
                                        * La fecha de emisión es requerida.
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-12 col-md-12 col-lg-6 mb-4">
                                <label for="inputTipoComprobante">Tipo comprobante:</label>
                                <select  formControlName="tipo_comprobante" id="inputTipoComprobante" class="border-left-primary form-select"  (change)="obtenerTipoDocumento()">
                                    <option hidden value="" disabled>Escoge una opción</option>
                                    <option [value]="comprobante.COMPROBANTE_ID" *ngFor="let comprobante of comprobantes">{{comprobante.COMPROBANTE_TIPO}}</option>
                                </select>
                                <div *ngIf="tipo_comprobante.invalid && (tipo_comprobante.dirty || tipo_comprobante.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="tipo_comprobante.errors.required">
                                        * El tipo de comprobante es requerido.
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="offset-sm-0 offset-md-1  col-sm-12 col-md-6 mb-4">
                        <label for="inputTipoComprobante">Tipo comprobante:</label>
                        <select  formControlName="tipo_comprobante" id="inputTipoComprobante" class="border-left-primary form-select"  (change)="obtenerTipoDocumento()">
                            <option hidden value="" disabled>Escoge una opción</option>
                            <option [value]="comprobante.COMPROBANTE_ID" *ngFor="let comprobante of comprobantes">{{comprobante.COMPROBANTE_TIPO}}</option>
                        </select>
                        <div *ngIf="tipo_comprobante.invalid && (tipo_comprobante.dirty || tipo_comprobante.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="tipo_comprobante.errors.required">
                                * El tipo de comprobante es requerido.
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-4 col-sm-4 col-lg-4 col-md-4">
                                <label for="inputNroSerieVenta">Serie/Folio:</label>
                                <input formControlName="serie" type="text" id="inputNroSerieVenta" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="serie.invalid && (serie.dirty || serie.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="serie.errors.required">
                                        * El número de serie es requerido.
                                    </div>
                                    <div *ngIf="serie.errors.maxlength">
                                        * Se requieren máximo 5 caracteres.
                                    </div>
                                    <div *ngIf="serie.errors.minlength">
                                        * Se requieren mínimo 3 caracteres.
                                    </div>
                                    <div *ngIf="serie.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                                <label for="inputNroComprobanteVenta">Nro. Comprobante:</label>
                                <input formControlName="nro_comprobante" type="text" id="inputNroComprobanteVenta" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="nro_comprobante.invalid && (nro_comprobante.dirty || nro_comprobante.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="nro_comprobante.errors.required">
                                        * El número de comprobante es requerido.
                                    </div>
                                    <div *ngIf="nro_comprobante.errors.maxlength">
                                        * Se requieren máximo 10 caracteres.
                                    </div>
                                    <div *ngIf="nro_comprobante.errors.minlength">
                                        * Se requieren mínimo 7 caracteres.
                                    </div>
                                    <div *ngIf="nro_comprobante.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row color-row-table">
                    <div class="col-sm-12 col-md-5 mb-4">
                        <label for="inputFormaDePago">Forma de pago:</label>
                        <select  formControlName="forma_pago" id="inputFormaDePago" class="border-left-primary form-select" (change)="agregarTarjeta()">
                            <option hidden value="" disabled>Escoge una opción</option>
                            <option [value]="metodo.MDP_ID" *ngFor="let metodo of metodos_pago">{{metodo.MDP_NOMBRE}}</option>
                        </select>
                        <div *ngIf="forma_pago.invalid && (forma_pago.dirty || forma_pago.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="forma_pago.errors.required">
                                * La forma de pago es requerida.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="offset-sm-0 offset-md-1 col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-10 col-md-10 col-lg-10">
                                <label for="inputTipoDocumento">{{dni_ruc}}:</label>
                                <input formControlName="documento" type="text" id="inputTipoDocumento"  class="border-left-primary font-tamanio form-control">
                                <div *ngIf="documento.invalid && (documento.dirty || documento.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="documento.errors.required">
                                        * El campo es requerido.
                                    </div>
                                    <div *ngIf="documento.errors.minlength">
                                        * Se requieren mínimo 8 caracteres.
                                    </div>
                                    <div *ngIf="documento.errors.maxlength">
                                        * Se requieren máximo 10 caracteres.
                                    </div>
                                    <div *ngIf="documento.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-1 col-lg-1 py-1 mt-md-4 mt-lg-4 " style="margin-top: 1.7rem !important;" >
                                <button (click)="obtenerDatosCliente(documento.value)" class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer py-3 row justify-content-center">
            <div class=" col-sm-12 col-md-4 col-xl-3">
                <button [disabled]="!btnRegistroValido || comprobanteForm.invalid || !busquedaCliente" (click)="registrarVenta()" type="button" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;&nbsp;&nbsp;&nbsp;Registrar Venta</button>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4 col-12 col-lg-11" >
        <div class="card-header py-3 row">
            <h5 style="cursor:pointer" (click)="abrirInfoCliente()">Información del Cliente
                <span>
                    <i  class="fas fa-angle-{{flecha}}"></i>
                </span>
            </h5>
        </div>
        <div *ngIf="mostrarDatosCliente" class="card-body text-gray-400 ">
                <div *ngIf="mostrar_natural">
                    <div class="row color-row-table mt-4 mb-3">
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <label for="inputNombreClienteNatural">Nombre:</label>
                            <input disabled value="{{cliente_natural_buscado.CLIENTE_NOMBRES}}" type="text" id="inputNombreClienteNatural" class="border-left-primary font-tamanio form-control">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="inputApellidosClienteNatural">Apellidos:</label>
                            <input disabled value="{{cliente_natural_buscado.CLIENTE_APELLIDOS}}" type="text" id="inputApellidosClienteNatural" class="border-left-primary font-tamanio form-control">
                        </div>
                    </div>
                    <div class="row color-row-table mb-3">
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <label for="inputCelularClienteNatural">Celular:</label>
                            <input disabled value="{{cliente_natural_buscado.CLIENTE_TELEFONO}}" type="text" id="inputCelularClienteNatural" class="border-left-primary font-tamanio form-control">
                            
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="inputDNIClienteNatural">DNI:</label>
                            <input disabled value="{{cliente_natural_buscado.CLIENTE_DNI}}" type="text" id="inputDNIClienteNatural" class="mt-lg-0 mt-md-4 border-left-primary font-tamanio form-control">
                        </div>
                    </div>
                    <div class="row color-row-table justify-content-center mb-3">
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <label for="inputDireccionClienteNatural">Dirección:</label>
                            <input disabled value="{{cliente_natural_buscado.CLIENTE_DIRECCION}}" type="text" id="inputDireccionClienteNatural" class="border-left-primary font-tamanio form-control">
                        </div>
                    </div>
                </div>
                <div *ngIf="mostrar_juridico">
                    <div class="row color-row-table mt-4 mb-3">
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <label for="inputNombreClienteJuridico">Nombre:</label>
                            <input disabled value="{{cliente_juridico_buscado.CLIENTE_NOMBRES}}" type="text" id="inputNombreClienteJuridico" class="border-left-primary font-tamanio form-control">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="inputRazonSocialClienteJuridico">Razón Social:</label>
                            <input disabled value="{{cliente_juridico_buscado.DJ_RAZON_SOCIAL}}" type="text" id="inputRazonSocialClienteJuridico" class="border-left-primary font-tamanio form-control">
                        </div>
                    </div>
                    <div class="row color-row-table mb-3">
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <label for="inputRUCClienteJuridico">RUC:</label>
                            <input disabled value="{{cliente_juridico_buscado.DJ_RUC}}" type="text" id="inputRUCClienteJuridico" class="border-left-primary font-tamanio form-control">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="inputCelularClienteJuridico">Celular:</label>
                            <input disabled value="{{cliente_juridico_buscado.CLIENTE_TELEFONO}}" type="text" id="inputCelularClienteJuridico" class="border-left-primary font-tamanio form-control">
                        </div>
                    </div>
                    <div class="row color-row-table justify-content-center mb-3">
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <label for="inputDireccionClienteNatural">Dirección:</label>
                            <input disabled value="{{cliente_juridico_buscado.CLIENTE_DIRECCION}}" type="text" id="inputDireccionClienteNatural" class="mt-lg-0 mt-md-4 border-left-primary font-tamanio form-control">
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- MODALES -->
<ng-template #articulosModal>
    <div class="modal-header justify-content-center">
        <h4 class="modal-title " >Buscar Artículo</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">
        <div class="row">
            <div class="card">
                <div class="card-header py-3 row justify-content-around">
                    <div class="col-12 col-lg-3 mb-4">
                        <label for="inputBuscarCategoria">Tipo de búsqueda:</label>
                        <select class="pull-right" [(ngModel)]="tipoDeBusqueda" class="border-left-primary form-control form-control-sm custom-select">
                            <option value="0">POR NOMBRE</option>
                            <option value="1">POR CÓDIGO</option>                 
                        </select>  
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <label for="inputBuscarCategoria">Producto/Código:</label>
                        <div class="row ">
                            <div class="col-10">
                                <input id="inputBuscarCategoria" type="text" [(ngModel)]="busquedaProducto" class="border-left-primary font-tamanio form-control" name="busquedaProducto" placeholder="Producto..." >
                            </div>
                            <div class="col-1">
                                <button class="btn btn-success" (click)="filtrarProductoPorNombre()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <label for="inputBuscarUnidadMedida">Categoría:</label>
                        <div class="row">
                            <div class="col-10">
                                <input id="inputBuscarUnidadMedida" type="text" [(ngModel)]="busquedaCategoria" class="border-left-primary font-tamanio form-control" name="busquedaCategoria" placeholder="Categoría..." >
                            </div>
                            <div class="col-1">
                                <button class="btn btn-success" (click)="filtrarProductoPorCategoria()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-gray-400">
                    <div class="row" *ngIf="productos.length<=0; else productos_busqueda">
                        <h3>No hay artículos de este proveedor.</h3>
                    </div>
                    <!---------------PAGINACIÓN------------->
                    <div *ngIf="productos?.length>0" class="row box-footer clearfix mt-3">     
                        <div class="col-xl-10 col-lg-9 col-md-7 col-sm-7 col-6">
                        <ngb-pagination *ngIf="productos?.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPageModal"  [collectionSize]="productos?.length" [(page)]="currentPageModal"></ngb-pagination>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 col-6">
                        <select class="pull-right" [(ngModel)]="itemsPerPageModal" class="form-control form-control-sm custom-select">
                            <option value="5"> 5 elementos</option>
                            <option value="10">10 elementos</option>
                            <option value="15">15 elementos</option>
                            <option value="20">20 elementos</option>                    
                        </select>  
                        </div>    
                    </div>
                    <ng-template #productos_busqueda>
                        <div class="table-module text-center" >
                            <table class="table table-bordered text-gray-400" id="dataTable" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="color-row-table puntero">Agregar</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_CODIGO" (sort)="onSort($event)" >Código</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_NOMBRE" (sort)="onSort($event)" >Producto</th>
                                        <th class="color-row-table puntero" scope="col" sortable="CAT_NOMBRE" (sort)="onSort($event)" >Categoría</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_TAMANIO_TALLA" (sort)="onSort($event)" >Tamaño/Talla/Peso</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_PRECIO_VENTA" (sort)="onSort($event)" >P. Venta</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PROV_EMPRESA_PROVEEDORA" (sort)="onSort($event)" >P. Proveedor</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_STOCK" (sort)="onSort($event)" >Stock</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_PRECIO_COMPRA" (sort)="onSort($event)" >P. Compra</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let producto of productos | slice:(currentPageModal-1)*itemsPerPageModal:currentPageModal*itemsPerPageModal ; let i = index">
                                        <td class="color-row-table text-center">
                                            <button [disabled]="producto.PRO_STOCK<=0" (click)="agregarProducto(producto)" class="btn btn-success btn-circle btn-sm" ngbTooltip="Agregar" >
                                                <i class="fa fa-plus" aria-hidden="true"   ></i>
                                            </button>
                                        </td>
                                        <td [ngStyle]="{'background':producto.PRO_STOCK<=3 && producto.PRO_STOCK > 0?'#ffc107':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=3?'white':'#6E707E'}" class="color-row-table">{{producto.PRO_CODIGO}}</td>
                                        <td [ngStyle]="{'background':producto.PRO_STOCK<=3 && producto.PRO_STOCK > 0?'#ffc107':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=3?'white':'#6E707E'}" class="color-row-table">{{producto.PRO_NOMBRE}}</td>
                                        <td [ngStyle]="{'background':producto.PRO_STOCK<=3 && producto.PRO_STOCK > 0?'#ffc107':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=3?'white':'#6E707E'}" class="color-row-table">{{producto.CAT_NOMBRE}}</td>
                                        <td [ngStyle]="{'background':producto.PRO_STOCK<=3 && producto.PRO_STOCK > 0?'#ffc107':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=3?'white':'#6E707E'}" class="color-row-table">{{producto.PRO_TAMANIO_TALLA}}</td>
                                        <td [ngStyle]="{'background':producto.PRO_STOCK<=3 && producto.PRO_STOCK > 0?'#ffc107':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=3?'white':'#6E707E'}" class="color-row-table">S/{{producto.PRO_PRECIO_VENTA.toFixed(2)}}</td>
                                        <td [ngStyle]="{'background':producto.PRO_STOCK<=3 && producto.PRO_STOCK > 0?'#ffc107':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=3?'white':'#6E707E'}" class="color-row-table">{{producto.PROV_EMPRESA_PROVEEDORA}}</td>
                                        <td [ngStyle]="{'background':producto.PRO_STOCK<=3 && producto.PRO_STOCK > 0?'#ffc107':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=3?'white':'#6E707E'}" class="color-row-table">{{producto.PRO_STOCK}}</td>
                                        <td [ngStyle]="{'background':producto.PRO_STOCK<=3 && producto.PRO_STOCK > 0?'#ffc107':producto.PRO_STOCK<=0?'#bb2124':'white','color':producto.PRO_STOCK<=3?'white':'#6E707E'}" class="color-row-table">S/{{producto.PRO_PRECIO_COMPRA.toFixed(2)}}</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="row d-flex text-center justify-content-center">
            <div class="my-2 col-sm-12 col-md-12 col-lg-3">
                <button (click)="closeModal()" class="btn btn-warning btn-icon-split">
                    <span class="text">Volver&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #clienteModal>
    <div class="modal-header justify-content-center">
        <h4 class="modal-title " >Registrar cliente</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Natural</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="clienteForm">
                        <div class="row color-row-table mt-4 mb-3">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="inputNombreClienteNatural" data-toggle="tooltip" data-placement="top" title="*Obligatorio">Nombre: <small class="text-danger" data-toggle="tooltip" data-placement="top" title="*Obligatorio">(*)</small></label>
                                <input formControlName="nombres" type="text" id="inputNombreClienteNatural" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="nombres.errors.required">
                                        * El nombre del cliente es requerido.
                                    </div>
                                    <div *ngIf="nombres.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="nombres.errors.maxlength">
                                        * Se requieren máximo 100 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label for="inputApellidosClienteNatural">Apellidos:</label>
                                <input formControlName="apellidos" type="text" id="inputApellidosClienteNatural" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="apellidos.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="apellidos.errors.maxlength">
                                        * Se requieren máximo 30 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row color-row-table mb-3">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="inputCelularClienteNatural" data-toggle="tooltip" data-placement="top" title="*Obligatorio">Celular: <small class="text-danger" data-toggle="tooltip" data-placement="top" title="*Obligatorio">(*)&nbsp;(Ejemplo: +51987802338)</small></label>
                                <input formControlName="celular" type="text" id="inputCelularClienteNatural" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="celular.invalid && (celular.dirty || celular.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="celular.errors.required">
                                        * El celular del cliente es requerido.
                                    </div>
                                    <div *ngIf="celular.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="celular.errors.minlength">
                                        * Se requieren mínimo 12 caracteres.
                                    </div>
                                    <div *ngIf="celular.errors.maxlength">
                                        * Se requieren máximo 12 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label for="inputDNIClienteNatural" data-toggle="tooltip" data-placement="top" title="*Obligatorio">DNI: <small class="text-danger" data-toggle="tooltip" data-placement="top" title="*Obligatorio">(*)</small></label>
                                <input formControlName="dni" type="text" id="inputDNIClienteNatural" class="mt-lg-0 mt-md-4 border-left-primary font-tamanio form-control">
                                <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="dni.errors.required">
                                        * El dni del cliente es requerido.
                                    </div>
                                    <div *ngIf="dni.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="dni.errors.minlength">
                                        * Se requieren mínimo 8 caracteres.
                                    </div>
                                    <div *ngIf="dni.errors.maxlength">
                                        * Se requieren máximo 8 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row color-row-table mb-3">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="inputDireccionClienteNatural">Dirección:</label>
                                <input formControlName="direccion" type="text" id="inputDireccionClienteNatural" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="direccion.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="direccion.errors.maxlength">
                                        * Se requieren maximo 100 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="inputDireccionClienteNatural">Email:</label>
                                <input formControlName="correo_" type="text" id="inputcorreo_ClienteNatural" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="correo_.invalid && (correo_.dirty || correo_.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="correo_.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="correo_.errors.maxlength">
                                        * Se requieren maximo 60 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row d-flex text-center justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-3">
                            <button [disabled]="clienteForm.invalid || cargando" (click)="registrarClienteNatural()" class="btn btn-primary btn-icon-split">
                                <span class="text">Registrar&nbsp;<i class="fas fa-save"></i></span>
                            </button>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-3">
                            <button (click)="closeModal()" class="btn btn-warning btn-icon-split">
                                <span class="text">Volver&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Jurídico</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="clienteJuridicoForm">
                        <div class="row color-row-table mt-4 mb-3">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="inputNombreClienteJuridico" data-toggle="tooltip" data-placement="top" title="*Obligatorio">Nombre: <small class="text-danger" data-toggle="tooltip" data-placement="top" title="*Obligatorio">(*)</small></label>
                                <input formControlName="nombres_" type="text" id="inputNombreClienteJuridico" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="nombres_.invalid && (nombres_.dirty || nombres_.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="nombres_.errors.required">
                                        * El nombre es requerido.
                                    </div>
                                    <div *ngIf="nombres_.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="nombres_.errors.maxlength">
                                        * Se requieren máximo 100 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label for="inputRazonSocialClienteJuridico" data-toggle="tooltip" data-placement="top" title="*Obligatorio">Razón Social: <small class="text-danger" data-toggle="tooltip" data-placement="top" title="*Obligatorio">(*)</small></label>
                                <input formControlName="razon_social" type="text" id="inputRazonSocialClienteJuridico" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="razon_social.invalid && (razon_social.dirty || razon_social.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="razon_social.errors.required">
                                        * Los razón social del cliente es requerida.
                                    </div>
                                    <div *ngIf="razon_social.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="razon_social.errors.maxlength">
                                        * Se requieren máximo 100 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row color-row-table mb-3">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="inputRUCClienteJuridico" data-toggle="tooltip" data-placement="top" title="*Obligatorio">RUC: <small class="text-danger" data-toggle="tooltip" data-placement="top" title="*Obligatorio">(*)</small></label>
                                <input formControlName="ruc" type="text" id="inputRUCClienteJuridico" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="ruc.invalid && (ruc.dirty || ruc.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="ruc.errors.required">
                                        * El ruc del cliente es requerido.
                                    </div>
                                    <div *ngIf="ruc.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="ruc.errors.minlength">
                                        * Se requieren mínimo 11 caracteres.
                                    </div>
                                    <div *ngIf="ruc.errors.maxlength">
                                        * Se requieren máximo 11 caracteres.
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label for="inputTipoEmpresa" data-toggle="tooltip" data-placement="top" title="*Obligatorio">Empresa: <small class="text-danger" data-toggle="tooltip" data-placement="top" title="*Obligatorio">(*)</small></label>
                                <select  formControlName="tipo_empresa" id="inputTipoEmpresa" class="border-left-primary form-select">
                                    <option hidden value="" disabled>Escoge una opción</option>
                                    <option [value]="empresa.TIPO_EMPRESA_ID" *ngFor="let empresa of empresas">{{empresa.TIPO_EMPRESA_CLAVE}}</option>
                                </select>
                                <div *ngIf="tipo_empresa.invalid && (tipo_empresa.dirty || tipo_empresa.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="tipo_empresa.errors.required">
                                        * El tipo de empresa es requerido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row color-row-table justify-content-center mb-3">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="inputDireccionClienteJuridico">Dirección:</label>
                                <input formControlName="direccion_" type="text" id="inputDireccionClienteJuridico" class="mt-lg-0 mt-md-4 border-left-primary font-tamanio form-control">
                                <div *ngIf="direccion_.invalid && (direccion_.dirty || direccion_.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="direccion_.errors.required">
                                        * La dirección del cliente es requerida.
                                    </div>
                                    <div *ngIf="direccion_.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="direccion_.errors.maxlength">
                                        * Se requieren maximo 100 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label for="inputCelularClienteJuridico">Celular: <small class="text-danger">&nbsp;(Ejemplo: +51987802338)</small></label>
                                <input formControlName="celular_" type="text" id="inputCelularClienteJuridico" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="celular_.invalid && (celular_.dirty || celular_.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="celular_.errors.required">
                                        * El celular_ del cliente es requerido.
                                    </div>
                                    <div *ngIf="celular_.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="celular_.errors.minlength">
                                        * Se requieren mínimo 12 caracteres.
                                    </div>
                                    <div *ngIf="celular_.errors.maxlength">
                                        * Se requieren máximo 12 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row color-row-table justify-content-center mb-3">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                <label for="inputEmailClienteJuridico">Email:</label>
                                <input formControlName="correo" type="text" id="inputEmailClienteJuridico" class="border-left-primary font-tamanio form-control">
                                <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                    <div *ngIf="correo.errors.pattern">
                                        * El formato es inválido.
                                    </div>
                                    <div *ngIf="correo.errors.maxlength">
                                        * Se requieren maximo 60 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row d-flex text-center justify-content-center">
                        <div class="my-2 col-sm-12 col-md-12 col-lg-3">
                            <button [disabled]="clienteJuridicoForm.invalid || cargando" (click)="registrarClienteJuridico()" class="btn btn-primary btn-icon-split">
                                <span class="text">Registrar&nbsp;<i class="fas fa-save"></i></span>
                            </button>
                        </div>
                        <div class="my-2 col-sm-12 col-md-12 col-lg-3">
                            <button (click)="closeModal()" class="btn btn-warning btn-icon-split">
                                <span class="text">Volver&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
          
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</ng-template>