<div class="row justify-content-center">
    <mat-progress-bar *ngIf="cargando && !modalIn" mode="indeterminate" class="alert-loading"></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && !modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" class="alert-loading">{{mensaje_alerta}}</ngb-alert>
    
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Apertura/Cierre de Caja</h1>
    <div class="card shadow mb-4 col-12 col-lg-8" style="height: 100%;">
        <div class="card-header py-3 row ">
            <h5 style="cursor:pointer" (click)="abrirCaja()">Abrir Caja 
                <span>
                    <i  class="fas fa-angle-{{flechaApertura}}"></i>
                </span>
            </h5>
        </div>
        <div *ngIf="mostrarApertura" class="card-body text-gray-400 text-center">
            <form [formGroup]="aperturaCajaForm">
                <div class="row color-row-table">
                    <div class="col-sm-12 col-md-3 col-lg-3 mt-2 mb-2">
                        <label for="inputMontoInicial">Monto inicial (S/):</label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-5 mb-4">
                        <input formControlName="monto_incial" type="text" id="inputMontoInicial" class="border-left-primary font-tamanio form-control">
                        <div *ngIf="monto_incial.invalid && (monto_incial.dirty || monto_incial.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="monto_incial.errors.required">
                                * El monto inicial de la caja es requerido.
                            </div>
                            <div *ngIf="monto_incial.errors.pattern">
                                * El formato es inválido.
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <button (click)=registrarApertura() [disabled]="aperturaCajaForm.invalid || cargando || cajaAbiertaFlag" class="btn btn-primary">Abrir Caja&nbsp; <i class="fas fa-dollar-sign"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card shadow mb-4 col-12 col-lg-8" style="height: 100%;">
        <div class="card-header py-3 row">
            <h5 style="cursor:pointer" (click)="cerrarCaja()">Cerrar Caja 
                <span>
                    <i class="fas fa-angle-{{flechaCierre}}"></i>
                </span>
            </h5>
        </div>
        <div *ngIf="mostrarCierre && !cargando" class="card-body text-gray-400">
                <article class="row color-row-table">
                    <section class="col-12 col-md-6 col-lg-6">
                        <div class="row mb-2">
                            <h5>Monto Ventas:</h5>
                        </div>
                        <div class="col-12 mb-4">
                            <label for="montoVentasEfectivo">V. Efectivo (S/):</label>
                            <input value="{{gananciasVentasEfectivo.toFixed(2)}}" disabled type="text" id="montoVentasEfectivo" class="border-left-primary font-tamanio form-control">
                        </div>
                        <div class="col-12 mb-4">
                            <label for="montoVentasTarjeta">V. Tarjeta (S/):</label>
                            <input value="{{gananciasVentasTarjeta.toFixed(2)}}" disabled type="text" id="montoVentasTarjeta" class="border-left-primary font-tamanio form-control">
                        </div>
                        <div class="col-12 mb-4">
                            <label for="montoVentasYape">V. Yape (S/):</label>
                            <input value="{{gananciasVentasYape.toFixed(2)}}" disabled type="text" id="montoVentasYape" class="border-left-primary font-tamanio form-control">
                        </div>
                    </section>
                    <section class="col-12 col-md-6 col-lg-6">
                        <div class="row mb-2">
                            <h5>Monto Servicios:</h5>
                        </div>
                        <div class="col-12 mb-4">
                            <label for="montoServiciosEfectivo">S. Efectivo (S/):</label>
                            <input value="{{gananciasServiciosEfectivo.toFixed(2)}}" disabled type="text" id="montoServiciosEfectivo" class="border-left-primary font-tamanio form-control">
                        </div>
                        <div class="col-12 mb-4">
                            <label for="montoServiciosTarjeta">S. Tarjeta (S/):</label>
                            <input value="{{gananciasServiciosTarjeta.toFixed(2)}}" disabled type="text" id="montoServiciosTarjeta" class="border-left-primary font-tamanio form-control">
                        </div>
                        <div class="col-12 mb-4">
                            <label for="montoServiciosYape">S. Yape (S/):</label>
                            <input value="{{gananciasServiciosYape.toFixed(2)}}" disabled type="text" id="montoServiciosYape" class="border-left-primary font-tamanio form-control">
                        </div>
                    </section>
                    
                    <hr>

                    <section class="row justify-content-center">
                        <div class="row mb-2">
                            <h5>Monto Total:</h5>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-4">
                                <label  for="inputMontoTotalEfectivoVer">T. Efectivo (S/):</label>
                                <input value="{{(montoTotalEfectivo).toFixed(2)}}" disabled type="text" id="inputMontoTotalEfectivoVer" class="border-left-primary font-tamanio form-control">
                            </div>
                            <div class="col-12 col-lg-4 mb-4">
                                <label  for="inputMontoTotalTarjetaVer">T. Tarjeta (S/):</label>
                                <input value="{{(gananciasVentasTarjeta + gananciasServiciosTarjeta).toFixed(2)}}" disabled type="text" id="inputMontoTotalTarjetaVer" class="border-left-primary font-tamanio form-control">
                            </div>
                            <div class="col-12 col-lg-4 mb-4">
                                <label  for="inputMontoTotalYapeVer">T. Yape (S/):</label>
                                <input value="{{(gananciasVentasYape + gananciasServiciosYape).toFixed(2)}}" disabled type="text" id="inputMontoTotalYapeVer" class="border-left-primary font-tamanio form-control">
                            </div>
                        </div>
                    </section>
                    
                    <hr>

                    <section class="row justify-content-center">
                        <div class="col-12 col-lg-4 mb-4">
                            <label  for="inputMontoTotalVer">Total. (S/):</label>
                            <input value="{{(MontoTotalDeTotales).toFixed(2)}}" disabled type="text" id="inputMontoTotalVer" class="border-left-primary font-tamanio form-control">
                        </div>
                    </section>
                </article>
        </div>
        <div *ngIf="mostrarCierre " class="card-footer py-3 row justify-content-center">
            <form [formGroup]="cierreCajaForm">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3 mb-4 ">
                        <label for="inputMontoGastos">Gastos del día (S/):</label>
                        <input formControlName="gastos" type="text" id="inputMontoGastos" class="border-left-primary font-tamanio form-control" (keyup)="aplicarDescuento()">
                        <div *ngIf="gastos.invalid && (gastos.dirty || gastos.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="gastos.errors.required">
                                * El monto de gastos del día es requerido.
                            </div>
                            <div *ngIf="gastos.errors.pattern">
                                * El formato es inválido.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-9 mb-4 ">
                        <label for="inputDetallesGastos">Detalles:</label>
                        <textarea formControlName="descripcion" type="text" id="inputDetallesGastos" class="border-left-primary font-tamanio form-control">
                        </textarea>
                        <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="descripcion.errors.maxlength">
                                * La cantidad máxima de caracteres es 500.
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-3">
                        <button [disabled]="cierreCajaForm.invalid || cargando" (click)="registrarCierre();" class="btn btn-primary">Cerrar Caja&nbsp; <i class="fas fa-dollar-sign"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>