<div class="row justify-content-center">
    <mat-progress-bar *ngIf="cargando && !modalIn" mode="indeterminate" class="alert-loading"></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && !modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" class="alert-loading">{{mensaje_alerta}}</ngb-alert>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Reporte Total</h1>

    <!-- compra de ventas - MES ACTUAL -->
    <div class="card shadow mb-3 col-12 col-lg-11" style="height: 100%;">
        <div class="card-header py-3 row">
            <h5 style="cursor:pointer" (click)="abrirTablaCompras()"><span>Compras&nbsp;&nbsp;&nbsp;&nbsp;<i  class="fas fa-angle-{{flecha}}"></i></span>
            </h5>
        </div>
        <div *ngIf="mostrarReporte" class="card-body text-gray-400">
            <div  *ngIf="comprasIniciales.length<=0; else comprasTablaModule">
                <h3>No hay compras registradas.</h3>
            </div>
            <div *ngIf="comprasIniciales?.length>0" class="row box-footer clearfix mt-3">     
                <div class="col-xl-10 col-lg-9 col-md-7 col-sm-7 col-6">
                    <ngb-pagination *ngIf="comprasIniciales?.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPorPagina"  [collectionSize]="comprasIniciales?.length" [(page)]="paginaActual"></ngb-pagination>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 col-6">
                    <select class="pull-right" [(ngModel)]="itemsPorPagina" class="form-control form-control-sm custom-select">
                        <option value="50">50 elementos</option>                    
                        <option value="100">100 elementos</option>                    
                        <option value="200">200 elementos</option>                    
                    </select>  
                </div>    
            </div>
            <ng-template #comprasTablaModule>
                <div class="table-module">
                    <table class="table table-bordered text-gray-400" id="dataTable" cellspacing="1">
                        <thead>
                            <tr>
                                <th class="color-row-table text-center puntero" scope="col" sortable="COMPRA_FECHA_REGISTRO" (sort)="onSortCompra($event)"><span>Fecha Registro</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="COMPRA_NRO_COMPROBANTE" (sort)="onSortCompra($event)"><span>Nro Comprobante</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="COMPRA_TOTAL" (sort)="onSortCompra($event)"><span>Total</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="COMPROBANTE_TIPO" (sort)="onSortCompra($event)"><span>Comprobante</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="PROV_EMPRESA_PROVEEDORA" (sort)="onSortCompra($event)"><span>Proveedor</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_NOMBRE_COMPLETO" (sort)="onSortCompra($event)"><span>Registrado por</span></th>
                                <th class="color-row-table text-center puntero" scope="col" ><span>Acciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let compra of compras | slice:(paginaActual-1)*itemsPorPagina:paginaActual*itemsPorPagina ; let i = index ">
                                <td class="color-row-table text-center">{{compra.COMPRA_FECHA_REGISTRO | date: 'dd/MM/yyyy'}} </td>
                                <td class="color-row-table text-center">{{compra.COMPRA_NRO_SERIE}}-{{compra.COMPRA_NRO_COMPROBANTE}} </td>
                                <td class="color-row-table text-center">{{compra.COMPRA_TOTAL}}</td>
                                <td class="color-row-table text-center">{{compra.COMPROBANTE_TIPO}}</td>
                                <td class="color-row-table text-center">{{compra.PROV_EMPRESA_PROVEEDORA}}</td>
                                <td class="color-row-table text-center">{{compra.USU_NOMBRE_COMPLETO}}</td>
                                <td class="color-row-table text-center">
                                    <div class="row btnes">
                                        <div class="col-1 button-table btn-edit">
                                            <button (click)=verdetallesCompra(compra.COMPRA_ID) class="btn btn-primary btn-circle btn-sm" ngbTooltip="Ver Más">
                                                <i style="color: white;" class="text-center far fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <!-- <div *ngIf = "USE_TYPE === '2' " class="col-1 button-table btn-edit">
                                            <button [disabled]="cargando" (click)=deshabilitarCompra(compra.COMPRA_ID) class="btn btn-danger btn-circle btn-sm" ngbTooltip="Deshabilitar">
                                                <i style="color: white;" class="text-center fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </div> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    
                </div>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #detallesCompraModal let-modal="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="modal-title">Detalles de compra</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">
        <div class="row">
            <div class="card">
                <div class="card-header py-3 row ">
                    <h5 class="modal-title text-start">Artículos:</h5>
                </div>
                <div class="card-body text-gray-400">
                    <div class="row" *ngIf="detallesCompra.length<=0; else detallesCompraModulo">
                        <h3>Cargando detalles de compra...</h3>
                    </div>
                    <!---------------PAGINACIÓN------------->
                    <div *ngIf="detallesCompra?.length>0" class="row box-footer clearfix mt-3">     
                        <div class="col-xl-10 col-lg-9 col-md-7 col-sm-7 col-6">
                        <ngb-pagination *ngIf="detallesCompra?.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPageModal"  [collectionSize]="detallesCompra?.length" [(page)]="currentPageModal"></ngb-pagination>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 col-6">
                        <select class="pull-right" [(ngModel)]="itemsPerPageModal" class="form-control form-control-sm custom-select">
                            <option value="50">50 elementos</option>                    
                            <option value="100">100 elementos</option>                    
                            <option value="200">200 elementos</option>                    
                        </select>  
                        </div>    
                    </div>
                    <ng-template #detallesCompraModulo>
                        <div class="table-module text-center" >
                            <table class="table table-bordered text-gray-400" id="dataTable" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_NOMBRE" (sort)="onSortdetallesCompra($event)" >Producto</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_TAMANIO_TALLA" (sort)="onSortdetallesCompra($event)" >Tamaño/Talla/Peso</th>
                                        <th class="color-row-table puntero" scope="col" sortable="CAT_NOMBRE" (sort)="onSortdetallesCompra($event)" >Categoría</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_PRECIO_COMPRA" (sort)="onSortdetallesCompra($event)" >P. Compra</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_PRECIO_VENTA" (sort)="onSortdetallesCompra($event)" >P. Venta</th>
                                        <th class="color-row-table puntero" scope="col" sortable="DET_CANTIDAD" (sort)="onSortdetallesCompra($event)" >Cantidad</th>
                                        <th class="color-row-table puntero" scope="col" sortable="DET_IMPORTE" (sort)="onSortdetallesCompra($event)" >Importe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detalle of detallesCompra | slice:(currentPageModal-1)*itemsPerPageModal:currentPageModal*itemsPerPageModal ; let i = index">
                                        <td class="color-row-table text-center">{{detalle.PRO_NOMBRE}}</td>
                                        <td class="color-row-table text-center">{{detalle.PRO_TAMANIO_TALLA}}</td>
                                        <td class="color-row-table text-center">{{detalle.CAT_NOMBRE}}</td>
                                        <td class="color-row-table text-center">{{detalle.PRO_PRECIO_COMPRA.toFixed(2)}}</td>
                                        <td class="color-row-table text-center">{{detalle.PRO_PRECIO_VENTA.toFixed(2)}}</td>
                                        <td class="color-row-table text-center">{{detalle.DET_CANTIDAD}}</td>
                                        <td class="color-row-table text-center">{{detalle.DET_IMPORTE}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center p-2">
            <button (click)="modal('Cross click')" class="col-md-4 col-lg-3 col-12 btn btn-warning btn-icon-split">
                <span class="text"><strong>Cerrar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
            </button>
        </div>
    </div>
</ng-template>
