<div  class="row justify-content-center">
    <mat-progress-bar *ngIf="carga && !modalIn" mode="indeterminate" class="alert-loading"></mat-progress-bar>
    <ngb-alert *ngIf="mostrarAlerta && !modalIn" [type]="tipoAlerta" class="alert-loading" (closed)="mostrarAlerta = false" >{{mensajeAlerta}}</ngb-alert>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Categorías de productos</h1>
    <br><br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 col-12 col-sm-12 col-md-10 col-lg-8">
        <div class="card-header py-3 row justify-content-around">
            <div class="py-1 col-sm-12 col-md-7 col-lg-7">
                <div class="row">
                    <div class="col-9 col-lg-7">
                        <input type="text" class="border-left-primary font-tamanio form-control" name="filtroTexto" placeholder="Buscar..." [(ngModel)]="filtroTexto" (keyup.enter)="filtrarCategoria()">
                    </div>
                    <div class="col-3 col-lg-2  py-1">
                        <button (click)="filtrarCategoria()" [disabled]="carga" style="float:right" style="width: 100%;" type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="py-1 col-6 col-md-4 col-lg-3 ">
                <button [disabled]="carga"  (click)="abrirCrearCategoria()" type="button" class="btn btn-primary">Crear Categoría</button>
            </div>
            
        </div>
        <div class="card-body text-gray-400 ">
            <div  *ngIf="categorias.length<=0; else categoriaModule">
                <h3>No hay categorías registradas.</h3>
            </div>
            <!---------------PAGINACIÓN------------->
            <div *ngIf="categorias?.length>0" class="row box-footer clearfix mt-3">     
                <div class="col-xl-9 col-lg-8 col-md-7 col-sm-7 col-xs-6 col-6">
                    <ngb-pagination *ngIf="categorias?.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPage"  [collectionSize]="categorias?.length" [(page)]="currentPage"></ngb-pagination>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 col-6">
                    <select class="pull-right" [(ngModel)]="itemsPerPage" class="form-control form-control-sm custom-select">
                        <option value="50">50 elementos</option>                    
                        <option value="100">100 elementos</option>                    
                        <option value="200">200 elementos</option>                    
                    </select>  
                </div>    
            </div>
            <ng-template #categoriaModule>
                <div class="table-module text-center">
                    <table class="table table-bordered text-gray-400" id="dataTable" width="100%"  cellspacing="0">
                        <thead>
                            <tr>
                                <th class="color-row-table puntero" scope="col" sortable="CAT_ID" (sort)="onSort($event)">Código</th>
                                <th class="color-row-table puntero" scope="col" sortable="CAT_NOMBRE" (sort)="onSort($event)">Nombre</th>
                                <th class="color-row-table puntero" scope="col" sortable="CAT_ESTADO" (sort)="onSort($event)">Estado</th>
                                <th class="color-row-table puntero" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cat of categorias | filterCategoryByName:filtroTexto | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index  ">
                                <td class="color-row-table">{{cat.CAT_ID}}</td>
                                <td class="color-row-table">{{cat.CAT_NOMBRE}}</td>
                                <td class="color-row-table">{{cat.CAT_ESTADO==1?'Activo':'Inactivo'}}</td>
                                <td class="color-row-table">
                                    <div class="row btnes">
                                        <div class="col-1 button-table"  *ngIf="cat.CAT_ESTADO != 1; else Habilitar">
                                            <button [disabled]="carga" (click)="habilitarInhabilitarCategoria(cat.CAT_ID,cat.CAT_ESTADO)" class="btn btn-success btn-circle btn-sm " ngbTooltip="Habilitar">
                                                <i class="fas fa-check" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <ng-template #Habilitar>
                                            <div class="col-1 button-table">
                                                <button [disabled]="carga" (click)="habilitarInhabilitarCategoria(cat.CAT_ID,cat.CAT_ESTADO)"  class="btn btn-danger btn-circle btn-sm "ngbTooltip="Deshabilitar">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </ng-template>
                                        <div class="col-1 button-table btn-edit">
                                            <button [disabled]="carga" (click)="abrirEditarCategoria(cat)" class="btn btn-warning btn-circle btn-sm" ngbTooltip="Editar" >
                                                <i style="color: white;" class="far fa-edit" aria-hidden="true"   ></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
            
        </div>
    </div>

</div>
<!-- MODALES -->
<ng-template #editarCategoria let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Categoría: {{categoriaSeleccionada.CAT_NOMBRE}}</h4>
    </div>
    <mat-progress-bar *ngIf="cargaModal && modalIn" mode="indeterminate"></mat-progress-bar>
    <ngb-alert *ngIf="mostrarAlerta && modalIn" [type]="tipoAlerta" (closed)="mostrarAlerta = false" >{{mensajeAlerta}}</ngb-alert>
    <div class="modal-body">
        <form [formGroup]="categoriaForm" class="form-group row justify-content-center">
                <div class="col-12 col-lg-7">
                    <label for="inputNombreCategoria">Nombre de la categoría</label>
                    <input input="inputNombreCategoria" type="text" formControlName="nombreCategoria" class="border-left-primary font-tamanio form-control" placeholder="Ingrese la categoría">
                    <div *ngIf="nombreCategoria.invalid && (nombreCategoria.dirty || nombreCategoria.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="nombreCategoria.errors.required">
                        * El nombre de la categoría es requerido.
                        </div>
                        <div *ngIf="nombreCategoria.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
        </form>
        <hr>
        <div class="row justify-content-around ">
            <button [disabled]="categoriaForm.invalid || cargaModal" (click)="catUpdate(categoriaSeleccionada)" class="col-5 col-lg-3 btn btn-primary" >
                <span class="text">Actualizar</span>
            </button>
            <button [disabled]="cargaModal" (click) = "d('Cross click')" class="col-5 col-lg-3 btn btn-warning">
                <span class="text">Cancelar</span>
            </button>
        </div>
    </div>
    <!-- <div class="modal-footer">
    </div>  -->
</ng-template>


<ng-template #crearCategoria let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Crear Categoría</h4>
    </div>
    <mat-progress-bar *ngIf="cargaModal && modalIn" mode="indeterminate"></mat-progress-bar>
    <ngb-alert *ngIf="mostrarAlerta && modalIn" [type]="tipoAlerta" (closed)="mostrarAlerta = false" >{{mensajeAlerta}}</ngb-alert>
    <div class="modal-body">
        <form [formGroup]="categoriaForm" class="form-group row justify-content-center">
            <div class="col-12 col-lg-7">
                <label for="inputNombreCategoria">Nombre de la categoría</label>
                <input input="inputNombreCategoria" type="text" formControlName="nombreCategoria" class="border-left-primary font-tamanio form-control" placeholder="Ingrese la categoría">
                <div *ngIf="nombreCategoria.invalid && (nombreCategoria.dirty || nombreCategoria.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                    <div *ngIf="nombreCategoria.errors.required">
                    * El nombre de la categoría es requerido.
                    </div>
                    <div *ngIf="nombreCategoria.errors.maxlength">
                    * Se requieren máximo 60 caracteres.
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row justify-content-around">
            <button [disabled]="categoriaForm.invalid || cargaModal" (click)="insertarCategoria()" class="col-5 col-lg-3 btn btn-primary" >
                <span class="text">Registrar</span>
            </button>
            <button [disabled]="cargaModal" (click) = "d('Cross click')" class="col-5 col-lg-3 btn btn-warning">
                <span class="text">Cancelar</span>
            </button>
        </div>
            
    </div>
    
</ng-template>