<!-- Sidebar -->
<ul  class="responsive-tamanio navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {{toggled}}  " id="accordionSidebar">

    <!-- Logo y huella  -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/dashboard']">
        <div class="row mt-2">
            <div class="col-sm-6 col-md-12">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-paw"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CANVET</div>
            </div>
        </div>
    </a>
    
    <!-- Divider -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']"><i class="fas fa-fw fa-home"></i><span>Inicio</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTransacciones"
            aria-expanded="true" aria-controls="collapseTransacciones">
            <i class="fas fa-store"></i>
            <span>Transacciones</span>
        </a>
        <div id="collapseTransacciones" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Pet Shop:</h6>
                <a class="collapse-item" [routerLink]="['caja']">            
                    <i class="fas fa-cash-register"></i>
                    <span>&nbsp; Caja</span>
                </a>
                <a class="collapse-item" [routerLink]="['venta']">            
                    <i class="fas fa-shopping-cart"></i>
                    <span>&nbsp; Vender</span>
                </a>
                <h6 class="collapse-header">Spa:</h6>
                <a class="collapse-item" [routerLink]="['servicio']">            
                    <i class="fas fa-clock"></i>
                    <span>&nbsp; Servicios</span>
                </a>
                <h6 class="collapse-header">Administración:</h6>
                <a class="collapse-item" [routerLink]="['cliente']">            
                    <i class="fas fa-users"></i>
                    <span>&nbsp; Clientes</span>
                </a>
                <a class="collapse-item" [routerLink]="['mascota']">            
                    <i class="fas fa-cat"></i>
                    <span>&nbsp; Mascotas&nbsp;</span>
                </a>
                <a class="collapse-item" [routerLink]="['/productos']" >
                    <i class="fas fa-tags"></i>
                    <span>&nbsp; Productos</span>
                </a>
            </div>
        </div>
    </li>

    <hr *ngIf = "USE_TYPE === '2' " class="sidebar-divider ">
    
    <li *ngIf = "USE_TYPE === '2' " class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-user-shield"></i>
            <span>Administración</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 *ngIf = "USE_TYPE === '2' " class="collapse-header">Control:</h6>
                <a *ngIf = "USE_TYPE === '2' " class="collapse-item" [routerLink]="['/users']" >
                    <i class="fas fa-users"></i>
                    <span>&nbsp; Usuarios</span>
                </a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Registros:</h6>
                <a *ngIf = "USE_TYPE === '2' " class="collapse-item" [routerLink]="['/categorias']" >
                    <i class="fas fa-tag"></i>
                    <span>&nbsp; Categorías</span>
                </a>
                <a class="collapse-item" [routerLink]="['/productos']" >
                    <i class="fas fa-tags"></i>
                    <span>&nbsp; Productos</span>
                </a>
                <a *ngIf = "USE_TYPE === '2' " class="collapse-item" [routerLink]="['/proveedor']" >
                    <i class="fas fa-truck-loading"></i>
                    <span>&nbsp; Proveedores</span>
                </a>
            </div>
        </div>
    </li>   

    <hr class="sidebar-divider ">

    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePagesReportes" aria-expanded="true"
            aria-controls="collapsePagesReportes">
            <i class="fas fa-chart-bar"></i>
            <span>Reportes</span>
        </a>
        <div id="collapsePagesReportes" class="collapse" aria-labelledby="headingPages"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 *ngIf = "USE_TYPE === '2' "  class="collapse-header">Caja (Tabla):</h6>
                <a *ngIf = "USE_TYPE === '2' "  class="collapse-item" [routerLink]="['/reporte-caja']">
                    <i class="fas fa-chart-bar"></i>
                    <span>&nbsp; Mensual</span>
                </a>

                <div *ngIf = "USE_TYPE === '2' "  class="collapse-divider"></div>
                
                <h6 class="collapse-header">Ventas y Servicio (Tabla):</h6>
                <a class="collapse-item" [routerLink]="['/reporte-venta']">
                    <i class="fas fa-chart-bar"></i>
                    <span>&nbsp; Mensual</span>
                </a>
                <a class="collapse-item" [routerLink]="['/reporte-venta-diario']">
                    <i class="fas fa-chart-bar"></i>
                    <span>&nbsp; Diarios</span>
                </a>
                <div *ngIf = "USE_TYPE === '2' "  class="collapse-divider"></div>
                
                <h6 *ngIf = "USE_TYPE === '2' "  class="collapse-header">Ventas y Servicio (Gráfica):</h6>
                <a *ngIf = "USE_TYPE === '2' "  class="collapse-item" [routerLink]="['/reporte-grafico']">
                    <i class="fas fa-chart-bar"></i>
                    <span>&nbsp; Semanal-Mensual</span>
                </a>

                <div *ngIf = "USE_TYPE === '2' "  class="collapse-divider"></div>
                
                <h6 *ngIf = "USE_TYPE === '2' "  class="collapse-header">Compras (Tabla):</h6>
                <a *ngIf = "USE_TYPE === '2' "  class="collapse-item" [routerLink]="['/reporte-compra']">
                    <i class="fas fa-chart-bar"></i>
                    <span>&nbsp; Reporte Total</span>
                </a>
                
                <div class="collapse-divider"></div>
                
            </div>
        </div>
    </li>

    <hr *ngIf = "USE_TYPE === '2' " class="sidebar-divider ">

    <li *ngIf = "USE_TYPE === '2' " class="nav-item">
        <a class="nav-link" [routerLink]="['/compra']">
            <i class="fas fa-fw fa-truck"></i>
            <span>Compras</span></a>
    </li>

    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center  d-md-inline">
        <button (clickBtnSideBar)="cambiarSideBar($event)" class="rounded-circle border-0" id="sidebarToggle" (click)="clickEvent()"></button>
    </div>
</ul>
<!-- End of Sidebar -->