<!-- Sidebar -->

<ul class="responsive-tamanio navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {{toggled}}  " id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard">
        <div class="row mt-2">
            <div class="col-sm-6 col-md-12">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-paw"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CANVET</div>
            </div>
            
        </div>

    </a>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-home"></i>
            <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-store"></i>
            <span>Transacciones</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Pet Shop:</h6>
                <a class="collapse-item" href="buttons.html">            
                    <i class="fas fa-search"></i>
                    <span>&nbsp; Buscar</span>
                </a>
                <a class="collapse-item" href="buttons.html">            
                    <i class="fas fa-shopping-cart"></i>
                    <span>&nbsp; Vender</span>
                </a>
                <h6 class="collapse-header">Spa:</h6>
                <a class="collapse-item" href="buttons.html">            
                    <i class="fas fa-search"></i>
                    <span>&nbsp; Buscar</span>
                </a>
                <a class="collapse-item" href="buttons.html">            
                    <i class="fas fa-clock"></i>
                    <span>&nbsp; Cita</span>
                </a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider ">
    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-user-shield"></i>
            <span>Administración</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Usuarios:</h6>
                <a class="collapse-item" href="register.html">
                    <i class="fas fa-users"></i>
                    <span>&nbsp;Configuraciones</span>
                </a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Catálogo:</h6>
                <a class="collapse-item" href="/categorias" >
                    <i class="fas fa-tag"></i>
                    <span>&nbsp;Categorías</span>
                </a>
                <a class="collapse-item" href="/productos">
                    <i class="fas fa-tags"></i>
                    <span>&nbsp;Productos</span>
                </a>
                <a class="collapse-item" href="register.html">
                    <i class="fas fa-truck-loading"></i>
                    <span>&nbsp;Proveedores</span>
                </a>
            </div>
        </div>
    </li>

    

    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center  d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="clickEvent()"></button>
    </div>

</ul>
<!-- End of Sidebar -->