<div class="row justify-content-center">
  <mat-progress-bar *ngIf="cargando && !modalIn" mode="indeterminate" class="alert-loading"></mat-progress-bar>
  <ngb-alert *ngIf="mostrar_alerta && !modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" class="alert-loading">{{mensaje_alerta}}</ngb-alert>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Reporte Diario</h1>

    <!-- Reporte de ventas - MES ACTUAL -->
    <div class="card shadow mb-3 col-12 col-lg-11" style="height: 100%;">
        <div class="card-header py-3 row">
            <h5 style="cursor:pointer" (click)="abrirReporte1()"><span>VENTAS&nbsp;&nbsp;&nbsp;&nbsp;<i  class="fas fa-angle-{{flecha1}}"></i></span>
            </h5>
        </div>
        <div *ngIf="mostrarReporte1" class="card-body text-gray-400">
            <div  *ngIf="ventas_diarias.length<=0; else reportesCajaMesActualModule">
                <h3>No hay ventas este día.</h3>
            </div>
            <div *ngIf="ventas_diarias?.length>0" class="row box-footer clearfix mt-3">     
                <div class="col-xl-10 col-lg-9 col-md-7 col-sm-7 col-6">
                    <ngb-pagination *ngIf="ventas_diarias?.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPorPagina1"  [collectionSize]="ventas_diarias?.length" [(page)]="paginaActual1"></ngb-pagination>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 col-6">
                    <select class="pull-right" [(ngModel)]="itemsPorPagina1" class="form-control form-control-sm custom-select">
                        <option value="5"> 5 elementos</option>
                        <option value="10">10 elementos</option>
                        <option value="15">15 elementos</option>
                        <option value="20">20 elementos</option>                    
                        <option value="50">50 elementos</option>                    
                    </select>  
                </div>    
            </div>
            <ng-template #reportesCajaMesActualModule>
                <div class="table-module">
                    <table class="table table-bordered text-gray-400" id="dataTable" cellspacing="1">
                        <thead>
                            <tr>
                                <th class="color-row-table text-center puntero" scope="col" sortable="CLIENTE_NOMBRES" (sort)="onSortVenta($event)"><span>Nombre/Razón Social</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="CLIENTE_DNI" (sort)="onSortVenta($event)"><span>RUC/DNI</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="CLIENTE_TELEFONO" (sort)="onSortVenta($event)"><span>Teléfono</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="COMPROBANTE_TIPO" (sort)="onSortVenta($event)"><span>Comprobante</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="VENTA_TOTAL" (sort)="onSortVenta($event)"><span>Total</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="METODO_DE_PAGO_ID" (sort)="onSortVenta($event)"><span>Método de pago</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="VENTA_FECHA_REGISTRO" (sort)="onSortVenta($event)"><span>Fecha de registro</span></th>
                                <th class="color-row-table text-center puntero" scope="col" ><span>Acciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reporte of ventas_diarias | slice:(paginaActual1-1)*itemsPorPagina1:paginaActual1*itemsPorPagina1 ; let i = index ">
                                <td class="color-row-table">{{reporte.CLIENTE_NOMBRE}}<span class="text-primary">{{reporte?.DJ_RAZON_SOCIAL==null?'':'['}}{{reporte?.DJ_RAZON_SOCIAL}}{{reporte?.DJ_RAZON_SOCIAL==null?'':']'}}</span></td>
                                <td class="color-row-table">{{reporte?.CLIENTE_DNI}}{{reporte?.DJ_RUC}}</td>
                                <td class="color-row-table">{{reporte.CLIENTE_TELEFONO}}</td>
                                <td class="color-row-table">{{reporte.COMPROBANTE_TIPO}}</td>
                                <td class="color-row-table">{{reporte.VENTA_TOTAL}}</td>
                                <td class="color-row-table">{{reporte.MDP_NOMBRE}}</td>
                                <td class="color-row-table">{{reporte.VENTA_FECHA_REGISTRO | date: 'dd/MM/yyyy'}} <span class="text-primary">[{{reporte.VENTA_FECHA_REGISTRO | date: 'h:mm:ss a'}}]</span></td>
                                <td class="color-row-table">
                                    <div class="row btnes">
                                        <div class="col-1 button-table btn-edit">
                                            <button (click)=verDetalles(reporte) class="btn btn-primary btn-circle btn-sm" ngbTooltip="Ver Más">
                                                <i style="color: white;" class="text-center far fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div *ngIf = "USE_TYPE === '2' " class="col-1 button-table btn-edit">
                                            <button [disabled]="cargando" (click)=deshabilitarVenta(reporte.VENTA_ID) class="btn btn-danger btn-circle btn-sm" ngbTooltip="Deshabilitar">
                                                <i style="color: white;" class="text-center fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    
                </div>
            </ng-template>
        </div>
    </div>

    <div class="card shadow mb-3 col-12 col-lg-11" style="height: 100%;">
        <div class="card-header py-3 row">
            <h5 style="cursor:pointer" (click)="abrirReporte2()"><span>SERVICIOS&nbsp;&nbsp;&nbsp;&nbsp;<i  class="fas fa-angle-{{flecha2}}"></i></span>
            </h5>
        </div>
        <div *ngIf="mostrarReporte2" class="card-body text-gray-400">
            <div  *ngIf="servicio_diarios.length<=0; else reportesMesActualServicioModule">
                <h3>No hay servicios este día.</h3>
            </div>
            <div *ngIf="servicio_diarios?.length>0" class="row box-footer clearfix mt-3">     
                <div class="col-xl-10 col-lg-9 col-md-7 col-sm-7 col-6">
                    <ngb-pagination *ngIf="servicio_diarios?.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPorPagina2"  [collectionSize]="servicio_diarios?.length" [(page)]="paginaActual2"></ngb-pagination>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 col-6">
                    <select class="pull-right" [(ngModel)]="itemsPorPagina2" class="form-control form-control-sm custom-select">
                        <option value="5"> 5 elementos</option>
                        <option value="10">10 elementos</option>
                        <option value="15">15 elementos</option>
                        <option value="20">20 elementos</option>                    
                        <option value="50">50 elementos</option>                    
                    </select>  
                </div>    
            </div>
            <ng-template #reportesMesActualServicioModule>
                <div class="table-module">
                    <table class="table table-bordered text-gray-400" id="dataTable" cellspacing="1">
                        <thead>
                            <tr>
                                <th class="color-row-table text-center puntero" scope="col" sortable="CLIENTE_NOMBRES" (sort)="onSortServicio($event)"><span>Nombre/Razón Social</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="TIPO_SERVICIO_NOMBRE" (sort)="onSortServicio($event)"><span>Servicio</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="SERVICIO_PRECIO" (sort)="onSortServicio($event)"><span>Precio</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="MDP_NOMBRE" (sort)="onSortServicio($event)"><span>Método de Pago</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="CLIENTE_TELEFONO" (sort)="onSortServicio($event)"><span>Teléfono</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="COMPROBANTE_TIPO" (sort)="onSortServicio($event)"><span>Comprobante</span></th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="SERVICIO_FECHA_HORA" (sort)="onSortServicio($event)"><span>Fecha de servicio</span></th>
                                <th class="color-row-table text-center puntero" scope="col" ><span>Acciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servicio of servicio_diarios | slice:(paginaActual2-1)*itemsPorPagina2:paginaActual2*itemsPorPagina2 ; let i = index ">
                                <td class="color-row-table">{{servicio.CLIENTE_NOMBRE}}<span class="text-primary">{{servicio?.DJ_RAZON_SOCIAL==null?'':'['}}{{servicio?.DJ_RAZON_SOCIAL}}{{servicio?.DJ_RAZON_SOCIAL==null?'':']'}}</span></td>
                                <td class="color-row-table">{{servicio.TIPO_SERVICIO_NOMBRE}}</td>
                                <td class="color-row-table">{{servicio.SERVICIO_PRECIO}}</td>
                                <td class="color-row-table">{{servicio.MDP_NOMBRE}}</td>
                                <td class="color-row-table">{{servicio.CLIENTE_TELEFONO}}</td>
                                <td class="color-row-table">{{servicio.COMPROBANTE_TIPO}}</td>
                                <td class="color-row-table">{{servicio.SERVICIO_FECHA_HORA | date: 'dd/MM/yyyy'}} <span class="text-primary">[{{servicio.SERVICIO_FECHA_HORA | date: 'h:mm:ss a'}}]</span></td>
                                <td class="color-row-table">
                                    <div class="row btnes">
                                        <div class="col-1 button-table btn-edit">
                                            <button (click)=verDetallesServicio(servicio) class="btn btn-primary btn-circle btn-sm" ngbTooltip="Ver Más">
                                                <i style="color: white;" class="text-center far fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    
                </div>
            </ng-template>
        </div>
    </div>  
</div>











<ng-template #detallesVentaModalActual>
    <div class="modal-header justify-content-center">
        <h4 class="modal-title">Detalles de venta</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">
        <form class="row">
            <div class="col-12 col-lg-6 mb-4">
                <label for="inputEmailCliente">Email del cliente:</label>
                <input id="inputEmailCliente"  type="text" disabled value="{{CLIENTE_CORREO}}" class="border-left-primary form-control">
            </div>
            <div class="col-12 col-lg-6 mb-4">
                <label for="inputNombres">Vendido por:</label>
                <input id="inputNombres"  type="text" disabled value="{{USU_NOMBRE}}" class="border-left-primary form-control">
            </div>
        </form>
        <br>
        <div class="row">
            <div class="card">
                <div class="card-header py-3 row ">
                    <h5 class="modal-title text-start">Artículos:</h5>
                </div>
                <div class="card-body text-gray-400">
                    <div class="row" *ngIf="detallesVenta.length<=0; else detallesVenta_busqueda">
                        <h3>Cargando detalles de venta...</h3>
                    </div>
                    <!---------------PAGINACIÓN------------->
                    <div *ngIf="detallesVenta?.length>0" class="row box-footer clearfix mt-3">     
                        <div class="col-xl-10 col-lg-9 col-md-7 col-sm-7 col-6">
                        <ngb-pagination *ngIf="detallesVenta?.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPageModal"  [collectionSize]="detallesVenta?.length" [(page)]="currentPageModal"></ngb-pagination>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 col-6">
                        <select class="pull-right" [(ngModel)]="itemsPerPageModal" class="form-control form-control-sm custom-select">
                            <option value="5"> 5 elementos</option>
                            <option value="10">10 elementos</option>
                            <option value="15">15 elementos</option>
                            <option value="20">20 elementos</option>                    
                        </select>  
                        </div>    
                    </div>
                    <ng-template #detallesVenta_busqueda>
                        <div class="table-module text-center" >
                            <table class="table table-bordered text-gray-400" id="dataTable" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_NOMBRE" (sort)="onSortDetallesVenta($event)" >Producto</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_TAMANIO_TALLA" (sort)="onSortDetallesVenta($event)" >Tamaño/Talla/Peso</th>
                                        <th class="color-row-table puntero" scope="col" sortable="CAT_NOMBRE" (sort)="onSortDetallesVenta($event)" >Categoría</th>
                                        <th *ngIf = "USE_TYPE === '2' " class="color-row-table puntero" scope="col" sortable="PRO_PRECIO_COMPRA" (sort)="onSortDetallesVenta($event)" >P. Compra</th>
                                        <th class="color-row-table puntero" scope="col" sortable="PRO_PRECIO_VENTA" (sort)="onSortDetallesVenta($event)" >P. Venta</th>
                                        <th class="color-row-table puntero" scope="col" sortable="DET_CANTIDAD" (sort)="onSortDetallesVenta($event)" >Cantidad</th>
                                        <th class="color-row-table puntero" scope="col" sortable="DET_IMPORTE" (sort)="onSortDetallesVenta($event)" >Importe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detalle of detallesVenta | slice:(currentPageModal-1)*itemsPerPageModal:currentPageModal*itemsPerPageModal ; let i = index">
                                        <td class="color-row-table">{{detalle.PRO_NOMBRE}}</td>
                                        <td class="color-row-table">{{detalle.PRO_TAMANIO_TALLA}}</td>
                                        <td class="color-row-table">{{detalle.CAT_NOMBRE}}</td>
                                        <td *ngIf = "USE_TYPE === '2' " class="color-row-table">S/{{detalle.PRO_PRECIO_COMPRA}}</td>
                                        <td class="color-row-table">S/{{detalle.PRO_PRECIO_VENTA}}</td>
                                        <td class="color-row-table">{{detalle.DET_CANTIDAD}}</td>
                                        <td class="color-row-table">S/{{detalle.DET_IMPORTE}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center p-2">
            <button (click)="closeModal()" class="col-md-4 col-lg-3 col-12 btn btn-warning btn-icon-split">
                <span class="text"><strong>Cancelar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #detallesServicioModal>
    <div class="modal-header justify-content-center">
        <h4 class="modal-title">Detalles de venta</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">
        <form >
            <div class="row">
                <div class="col-12 col-lg-6 mb-4">
                    <label for="inputEmailCliente">Email del cliente:</label>
                    <input id="inputEmailCliente"  type="text" disabled value="{{CLIENTE_CORREO}}" class="border-left-primary form-control">
                </div>
                <div *ngIf="CLIENTE_DNI" class="col-12 col-lg-6 mb-4">
                    <label for="inputDNI">DNI:</label>
                    <input id="inputDNI"  type="text" disabled value="{{CLIENTE_DNI}}" class="border-left-primary form-control">
                </div>
                <div *ngIf="DJ_RUC" class="col-12 col-lg-6 mb-4">
                    <label for="inputRUC">RUC:</label>
                    <input id="inputRUC"  type="text" disabled value="{{DJ_RUC}}" class="border-left-primary form-control">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 mb-4">
                    <label for="inputNombres">Atentido por:</label>
                    <input id="inputNombres"  type="text" disabled value="{{USU_NOMBRE}}" class="border-left-primary form-control">
                </div>
            </div>            
        </form>
        <br>
        <div class="row justify-content-center p-2">
            <button (click)="closeModal()" class="col-md-4 col-lg-4 col-12 btn btn-warning btn-icon-split">
                <span class="text"><strong>Cancelar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
            </button>
        </div>
    </div>
</ng-template>