<!-- <div *ngIf="carga" class="progress" style="height:1rem">
    <ngb-progressbar class="indeterminate" type="primary" height="1rem" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
</div> -->
<!-- *ngIf = "!carga" -->
<div  class="row justify-content-center">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Productos</h1>
    <br><br>
    <!-- DataTales Example -->  
    <div class="card shadow mb-4 col-12 col-lg-8" style="height: 100%;">
        <div class="card-header py-3 row justify-content-between">
            <div class="col-sm-12 col-lg-5">
                <input type="text" class="border-left-primary font-tamanio form-control" placeholder="Buscar">
            </div>
            <div class="col-12 col-lg-1"> <br></div>
            <div class="col-sm-12 col-lg-3" >
                <!-- (click)="abrirCrearCategoria()" falta añadir funcion que abra el modal para crear un producto -->
                <button   style="float:right" (click)="abrirCrearProducto()" style="width: 100%;" type="button" class="btn btn-primary">Crear Producto</button>
            </div>
        </div>
        <div class="card-body text-gray-400 ">
            <div class="table-responsive">
                <table class="table table-bordered text-gray-400" id="dataTable" width="100%"  cellspacing="0">
                    <thead>
                        <tr>
                            <th > <span style="color: #6E707E;">#</span></th>
                            <th ><span style="color: #6E707E;">Nombre</span></th>
                            <th ><span style="color: #6E707E;">Codigo</span></th>
                            <th ><span style="color: #6E707E;">Precio Venta</span></th>
                            <th ><span style="color: #6E707E;">Precio Compra</span></th>
                            <th ><span style="color: #6E707E;">Stock</span></th>
                            <th ><span style="color: #6E707E;">Tamaño/Talla</span></th>
                            <th ><span style="color: #6E707E;">Categoría</span></th>
                            <th ><span style="color: #6E707E;">Acciones</span></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th > <span style="color: #6E707E;">#</span></th>
                            <th ><span style="color: #6E707E;">Nombre</span></th>
                            <th ><span style="color: #6E707E;">Codigo</span></th>
                            <th ><span style="color: #6E707E;">Precio Venta</span></th>
                            <th ><span style="color: #6E707E;">Precio Compra</span></th>
                            <th ><span style="color: #6E707E;">Stock</span></th>
                            <th ><span style="color: #6E707E;">Tamaño/Talla</span></th>
                            <th ><span style="color: #6E707E;">Categoría</span></th>
                            <th ><span style="color: #6E707E;">Acciones</span></th>
                        </tr>
                    </tfoot>
                    <tr *ngFor="let pro of productos ; let i = index  ">
                        <td style="color: #6E707E;">{{i + 1}}</td>
                        <td style="color: #6E707E;">{{pro.PRO_NOMBRE}}</td>
                        <td style="color: #6E707E;">{{pro.PRO_CODIGO}}</td>
                        <td style="color: #6E707E;">{{pro.PRO_PRECIO_VENTA}}</td>
                        <td style="color: #6E707E;">{{pro.PRO_PRECIO_COMPRA}}</td>
                        <td style="color: #6E707E;">{{pro.PRO_STOCK}}</td>
                        <td style="color: #6E707E;">{{pro.PRO_TAMANIO_TALLA}}</td>
                        <td *ngFor="let cat of categorias" style="color: #6E707E;">
                            <span *ngIf="cat.CAT_ID== pro.CAT_ID">{{cat.CAT_NOMBRE}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<ng-template #editarProducto let-d="dismiss">
    <div class="modal-header">
        <!-- {{categoriaSeleccionada.CAT_NOMBRE}} FALTA -->
        <h4 class="modal-title" id="exampleModalLongTitle">Producto: </h4>
    </div>
    <div class="modal-body">
        <br>
        <!-- <form [formGroup]="categoriaForm">
            <div class="form-group row">
                <div class="col-6">
                    <label for="">
                        Nombre de la categoría
                    </label>
                </div>
                <div>
                    <input type="text" formControlName="nombreCategoria" class="border-left-primary font-tamanio form-control" placeholder="Ingrese la categoría">
                    <div *ngIf="nombreCategoria.invalid && (nombreCategoria.dirty || nombreCategoria.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="nombreCategoria.errors.required">
                        * El nombre de la categoría es requerido.
                        </div>
                        <div *ngIf="nombreCategoria.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
            </div>
        </form> -->
        <br>
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <a (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                    <span class="text">Cancelar</span>
                </a>
            </div>
            <div class="col-4">
                <!-- (click)="catUpdate(categoriaSeleccionada)" FALTA -->
                <a  class="btn btn-primary btn-icon-split">
                    <span class="text">Aceptar</span>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
    </div>  -->
</ng-template>
<ng-template #crearProducto let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Crear Producto</h4>
        
    </div>
    <div class="modal-body">
        <br>
        <form [formGroup]="productoForm">
            <div class="form-group row">
                    
                <div class="col-12 col-lg-6" >
                    <label for="" style="margin-top: 2rem;">
                        Nombre del producto
                    </label>
                    <input type="text" formControlName="nombreProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el nombre">
                    <div *ngIf="nombreProducto.invalid && (nombreProducto.dirty || nombreProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="nombreProducto.errors.required">
                        * El nombre del producto es requerido.
                        </div>
                        <div *ngIf="nombreProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem;">
                        tamaño/talla del producto
                    </label>
                    <input type="text" formControlName="tamnioTallaProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese tamaño/talla">
                    <div *ngIf="tamnioTallaProducto.invalid && (tamnioTallaProducto.dirty || tamnioTallaProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="tamnioTallaProducto.errors.required">
                        * El tamnio/Talla del producto es requerido.
                        </div>
                        <div *ngIf="tamnioTallaProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem;">
                        Precio de venta
                    </label>
                    <input type="text" formControlName="pVentaProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese precio de venta">
                    <div *ngIf="pVentaProducto.invalid && (pVentaProducto.dirty || pVentaProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="tamnioTallaProducto.errors.required">
                        * El pVentaProducto/Talla del producto es requerido.
                        </div>
                        <div *ngIf="tamnioTallaProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem">
                        Precio de compra
                    </label>
                    <input type="text" formControlName="pCompraProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese precio de compra">
                    <div *ngIf="pCompraProducto.invalid && (pCompraProducto.dirty || pCompraProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="tamnioTallaProducto.errors.required">
                        * El pCompraProducto/Talla del producto es requerido.
                        </div>
                        <div *ngIf="pCompraProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label style="margin-top: 2rem;" class="mr-sm-2" for="inlineFormCustomSelect">Categoría</label>
                    <select formControlName="categoria" class="custom-select mr-sm-2 " id="inlineFormCustomSelect">
                        <option hidden value="" disabled selected>Escoge una opción</option>
                        <option [value]="cat.CAT_ID" *ngFor="let cat of categorias">{{cat.CAT_NOMBRE}}</option>
                    </select>
                    <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="categoria.errors.required">
                            * La categoría es requerido.
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div class="row justify-content-center">
                <div class="col-6 col-lg-4 text-center">
                    <a (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                        <span class="text">Cancelar</span>
                    </a>
                </div>
                <div class="col-6 col-lg-4">
                    <!-- (click)="insertarCategoria();" FALTA  -->
                    <button  (click)="insertarProducto(productoForm.value)" [disabled] = "productoForm.invalid"  class="btn btn-primary btn-icon-split" >
                        <span class="text">Aceptar</span>
                    </button>
                </div>
            </div>
        </form>
        <br>
    </div>
    <!-- <div class="modal-footer">
        
    </div>  -->
</ng-template>