
<div  class="row justify-content-center">
    <mat-progress-bar *ngIf="carga" mode="indeterminate" class="alert-loading"></mat-progress-bar>
    <ngb-alert *ngIf="mostrarAlerta" [type]="tipoAlerta" (closed)="mostrarAlerta = false" >{{mensajeAlerta}}</ngb-alert>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Productos</h1>
    <br><br>
    <!-- DataTales Example -->  
    <div class="card shadow mb-4 col-12 col-lg-8" style="height: 100%;">
        <div class="card-header py-3 row justify-content-between">
            <div class="col-sm-12 col-lg-5">
                <input type="text" class="border-left-primary font-tamanio form-control" placeholder="Buscar">
            </div>
            <div class="col-12 col-lg-1"> <br></div>
            <div class="col-sm-12 col-lg-3" >
                <button   style="float:right" (click)="abrirCrearProducto()" style="width: 100%;" type="button" class="btn btn-primary">Crear Producto</button>
            </div>
        </div>
        <div class="card-body text-gray-400 ">
            <div class="table-module">
                <table class="table table-bordered text-gray-400" id="dataTable" width="100%"  cellspacing="0">
                    <thead>
                        <tr>
                            <th ><span style="color: #6E707E;">#</span></th>
                            <th ><span style="color: #6E707E;">Nombre</span></th>
                            <th ><span style="color: #6E707E;">Precio Venta</span></th>
                            <th ><span style="color: #6E707E;">Precio Compra</span></th>
                            <th ><span style="color: #6E707E;">Stock</span></th>
                            <th ><span style="color: #6E707E;">Tamaño/Talla</span></th>
                            <th ><span style="color: #6E707E;">Categoría</span></th>
                            <th ><span style="color: #6E707E;">Estado</span></th>
                            <th ><span style="color: #6E707E;">Acciones</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pro of productos | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index">
                            <td style="color: #6E707E;">{{i + 1}}</td>
                            <td style="color: #6E707E;">{{pro.PRO_NOMBRE}}</td>
                            <td style="color: #6E707E;">{{pro.PRO_PRECIO_VENTA}}</td>
                            <td style="color: #6E707E;">{{pro.PRO_PRECIO_COMPRA}}</td>
                            <!-- <td style="color: #6E707E;">{{
                                (pro?.PRO_FECHA_CAMBIO_PRECIO==null)?'No tiene':pro.PRO_FECHA_CAMBIO_PRECIO | date: 'dd/MM/yyyy'
                            }}</td>
                            <td style="color: #6E707E;">{{
                                (pro?.PRO_PRECIO_ANTERIOR==null)?'No tiene':pro.PRO_PRECIO_ANTERIOR
                            }}</td> -->
                            <td style="color: #6E707E;">{{pro.PRO_STOCK}}</td>
                            <td style="color: #6E707E;">{{pro.PRO_TAMANIO_TALLA}}</td>
                            <td style="color: #6E707E;">{{pro.CAT_NOMBRE}}</td>
                            <td style="color: #6E707E;">{{pro.PRO_ESTADO==1?'Activo':'Inactivo'}}</td>
                            <td >
                                <span class="row col-button-table">
                                    <span class="col-sm-1 button-table"  *ngIf = "pro.PRO_ESTADO != 1; else Habilitar">
                                        <a (click)="habilitarInhabilitarProducto(pro.PRO_ID,pro.PRO_ESTADO)" class="btn btn-success btn-circle btn-sm " ngbTooltip="Habilitar">
                                            <i class="fas fa-check" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <ng-template #Habilitar>
                                        <span class="col-sm-1 button-table">
                                            <a (click)="habilitarInhabilitarProducto(pro.PRO_ID,pro.PRO_ESTADO)"  class="btn btn-danger btn-circle btn-sm "ngbTooltip="Deshabilitar">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </ng-template>
                                    <span class="col-sm-1 button-table">
                                        <!-- (click)="abrirEditarCategoria(cat)" -->
                                        <a   (click)="abrirVerMasProducto(pro)" class="btn btn-primary btn-circle btn-sm" ngbTooltip="ver más" >
                                            <i style="color: white;" class="fas fa-eye" aria-hidden="true"   ></i>
                                        </a>
                                    </span>
                                    <span class="col-sm-1 button-table">
                                        <!-- (click)="abrirEditarCategoria(cat)" -->
                                        <a  (click)="abrirEditarProducto(pro)" class="btn btn-warning btn-circle btn-sm" ngbTooltip="Editar" >
                                            <i style="color: white;" class="far fa-edit" aria-hidden="true"   ></i>
                                        </a>
                                    </span>
                                    
                                </span>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!---------------PAGINACIÓN------------->
                <div *ngIf="productos?.length>0" style="margin-top: 5px;" class="row box-footer clearfix">     
                    <div class="col-xl-10 col-lg-9 col-md-9 col-sm-9 col-7">
                    <ngb-pagination *ngIf="productos?.length>10" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPage"  [collectionSize]="productos?.length" [(page)]="currentPage"></ngb-pagination>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5">
                    <select class="pull-right" [(ngModel)]="itemsPerPage" class="form-control form-control-sm custom-select">
                        <option value="10">10 elementos</option>
                        <option value="15">15 elementos</option>
                        <option value="20">20 elementos</option>                    
                    </select>  
                    </div>    
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- MODALES -->

<ng-template #verProducto let-d="dismiss">
    <div class="modal-header">
        <!-- {{categoriaSeleccionada.CAT_NOMBRE}} FALTA -->
        <h4 class="modal-title" id="exampleModalLongTitle">Producto: {{productoSeleccionado.PRO_NOMBRE}} </h4>
    </div>
    <div class="modal-body">
        <br>
            <div class="form-group row">
                    
                <div class="col-12 col-lg-6" >
                    <label for="" style="margin-top: 2rem;">
                        Nombre del producto
                    </label>
                    <input type="text" disabled value="{{productoSeleccionado.PRO_NOMBRE}}" class="border-left-primary font-tamanio form-control" >
                    
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem;">
                        tamaño/talla del producto
                    </label>
                    <input type="text"  disabled value="{{productoSeleccionado.PRO_TAMANIO_TALLA}}" class="border-left-primary font-tamanio form-control" >
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem;">
                        Precio de venta
                    </label>
                    <input type="text" disabled value="{{productoSeleccionado.PRO_PRECIO_VENTA}}" class="border-left-primary font-tamanio form-control" >
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem">
                        Precio de compra
                    </label>
                    <input type="text" disabled value="{{productoSeleccionado.PRO_PRECIO_COMPRA}}" class="border-left-primary font-tamanio form-control" >
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem">
                        Categoría
                    </label>
                    <input type="text" disabled value="{{nombreCategoria}}" class="border-left-primary font-tamsanio form-control">
                </div>    
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem">
                        Proveedor
                    </label>
                    <input type="text" disabled value="{{nombreProveedor}}" class="border-left-primary font-tamanio form-control" >
                </div>
                <div *ngIf="precioAnterior != null" class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem">
                        Precio de compra anterior
                    </label>
                    <input type="text" disabled value="{{precioAnterior}}" class="border-left-primary font-tamanio form-control" >
                </div>
                <div *ngIf="fechaAnterior != null"  class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem">
                        fecha de cambio de precio
                    </label>
                    <input type="text" disabled value="{{fechaAnterior | date: 'dd/MM/yyyy'}}" class="border-left-primary font-tamanio form-control" >
                </div>
                <!-- <div class="col-12 col-lg-6">
                    <label style="margin-top: 2rem;" class="mr-sm-2" for="inlineFormCustomSelect">Categoría</label>
                    <select disabled class="custom-select mr-sm-2 " id="inlineFormCustomSelect">
                        <option hidden value="" disabled selected>Escoge una opción</option>
                        <option [value]="productoSeleccionado.CAT_ID" *ngFor="let cat of categorias">{{cat.CAT_NOMBRE}}</option>
                    </select>
                </div>
                <div class="col-12 col-lg-6">
                    <label style="margin-top: 2rem;" class="mr-sm-2" for="inlineFormCustomSelect">Proveedor</label>
                    <select disabled class="custom-select mr-sm-2 " id="inlineFormCustomSelect">
                        <option hidden value="" disabled selected>Escoge una opción</option>
                        <option [value]="productoSeleccionado.PROV_ID" *ngFor="let pro of proveedores">{{pro.PROV_EMPRESA_PROVEEDORA}}</option>
                    </select>
                </div> -->
            </div><br><br>
            <div class="row justify-content-center ">
                <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                    <a (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                        <span class="text"><strong>Salir</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                    </a>
                </div>
                
            </div>
        <br>
    </div>
    <!-- <div class="modal-footer">
    </div>  -->
</ng-template>

<ng-template #editarProducto let-d="dismiss">
    <div class="modal-header">
        <!-- {{categoriaSeleccionada.CAT_NOMBRE}} FALTA -->
        <h4 class="modal-title" id="exampleModalLongTitle">Producto: {{productoSeleccionado.PRO_NOMBRE}} </h4>
    </div>
    <mat-progress-bar *ngIf="cargaModal" mode="indeterminate"></mat-progress-bar>
    <div class="modal-body">
        <br>
        <form [formGroup]="productoForm">
            <div class="form-group row">
                    
                <div class="col-12 col-lg-6" >
                    <label for="" style="margin-top: 2rem;">
                        Nombre del producto
                    </label>
                    <input  type="text" formControlName="nombreProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el nombre">
                    <div *ngIf="nombreProducto.invalid && (nombreProducto.dirty || nombreProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="nombreProducto.errors.required">
                        * El nombre del producto es requerido.
                        </div>
                        <div *ngIf="nombreProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem;">
                        tamaño/talla del producto
                    </label>
                    <input type="text" formControlName="tamnioTallaProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese tamaño/talla">
                    <div *ngIf="tamnioTallaProducto.invalid && (tamnioTallaProducto.dirty || tamnioTallaProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="tamnioTallaProducto.errors.required">
                        * El tamnio/Talla del producto es requerido.
                        </div>
                        <div *ngIf="tamnioTallaProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem;">
                        Precio de venta
                    </label>
                    <input type="text" formControlName="pVentaProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese precio de venta">
                    <div *ngIf="pVentaProducto.invalid && (pVentaProducto.dirty || pVentaProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="tamnioTallaProducto.errors.required">
                        * El pVentaProducto/Talla del producto es requerido.
                        </div>
                        <div *ngIf="tamnioTallaProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem">
                        Precio de compra
                    </label>
                    <input type="text" formControlName="pCompraProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese precio de compra">
                    <div *ngIf="pCompraProducto.invalid && (pCompraProducto.dirty || pCompraProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="tamnioTallaProducto.errors.required">
                        * El pCompraProducto/Talla del producto es requerido.
                        </div>
                        <div *ngIf="pCompraProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label style="margin-top: 2rem;" class="mr-sm-2" for="inlineFormCustomSelect">Categoría</label>
                    <select formControlName="categoria" class="custom-select mr-sm-2 " id="inlineFormCustomSelect">
                        <option hidden value="" disabled selected>Escoge una opción</option>
                        <option [value]="cat.CAT_ID" *ngFor="let cat of categorias">{{cat.CAT_NOMBRE}}</option>
                    </select>
                    <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="categoria.errors.required">
                            * La categoría es requerido.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label style="margin-top: 2rem;" class="mr-sm-2" for="inlineFormCustomSelect">Proveedor</label>
                    <select formControlName="proveedor" class="custom-select mr-sm-2 " id="inlineFormCustomSelect">
                        <option hidden value="" disabled selected>Escoge una opción</option>
                        <option [value]="pro.PROV_ID" *ngFor="let pro of proveedores">{{pro.PROV_EMPRESA_PROVEEDORA}}</option>
                    </select>
                    <div *ngIf="proveedor.invalid && (proveedor.dirty || proveedor.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="proveedor.errors.required">
                            * La proveedor es requerido.
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div class="row justify-content-center ">
                <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                    <a  (click)="editarProductoFunc()" class="btn btn-primary btn-icon-split" >
                        <span class="text"><strong>Registrar</strong>&nbsp;<i class="fas fa-save"></i></span>
                    </a>
                </div>
                <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                    <a (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                        <span class="text"><strong>Cancelar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                    </a>
                </div>
                
            </div>
        </form>
        <br>
    </div>
    <!-- <div class="modal-footer">
    </div>  -->
</ng-template>
<ng-template #crearProducto let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Crear Producto</h4>
    </div>
    <mat-progress-bar *ngIf="cargaModal" mode="indeterminate"></mat-progress-bar>
    <div class="modal-body">
        <br>
        <form [formGroup]="productoForm">
            <div class="form-group row">
                    
                <div class="col-12 col-lg-6" >
                    <label for="" style="margin-top: 2rem;">
                        Nombre del producto
                    </label>
                    <input type="text" formControlName="nombreProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el nombre">
                    <div *ngIf="nombreProducto.invalid && (nombreProducto.dirty || nombreProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="nombreProducto.errors.required">
                        * El nombre del producto es requerido.
                        </div>
                        <div *ngIf="nombreProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem;">
                        tamaño/talla del producto
                    </label>
                    <input type="text" formControlName="tamnioTallaProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese tamaño/talla">
                    <div *ngIf="tamnioTallaProducto.invalid && (tamnioTallaProducto.dirty || tamnioTallaProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="tamnioTallaProducto.errors.required">
                        * El tamnio/Talla del producto es requerido.
                        </div>
                        <div *ngIf="tamnioTallaProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem;">
                        Precio de venta
                    </label>
                    <input type="text" formControlName="pVentaProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese precio de venta">
                    <div *ngIf="pVentaProducto.invalid && (pVentaProducto.dirty || pVentaProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="tamnioTallaProducto.errors.required">
                        * El pVentaProducto/Talla del producto es requerido.
                        </div>
                        <div *ngIf="tamnioTallaProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="" style="margin-top: 2rem">
                        Precio de compra
                    </label>
                    <input type="text" formControlName="pCompraProducto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese precio de compra">
                    <div *ngIf="pCompraProducto.invalid && (pCompraProducto.dirty || pCompraProducto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="tamnioTallaProducto.errors.required">
                        * El pCompraProducto/Talla del producto es requerido.
                        </div>
                        <div *ngIf="pCompraProducto.errors.maxlength">
                        * Se requieren máximo 60 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label style="margin-top: 2rem;" class="mr-sm-2" for="inlineFormCustomSelect">Categoría</label>
                    <select formControlName="categoria" class="custom-select mr-sm-2 " id="inlineFormCustomSelect">
                        <option hidden value="" disabled selected>Escoge una opción</option>
                        <option [value]="cat.CAT_ID" *ngFor="let cat of categorias">{{cat.CAT_NOMBRE}}</option>
                    </select>
                    <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="categoria.errors.required">
                            * La categoría es requerido.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label style="margin-top: 2rem;" class="mr-sm-2" for="inlineFormCustomSelect">Proveedor</label>
                    <select formControlName="proveedor" class="custom-select mr-sm-2 " id="inlineFormCustomSelect">
                        <option hidden value="" disabled selected>Escoge una opción</option>
                        <option [value]="pro.PROV_ID" *ngFor="let pro of proveedores">{{pro.PROV_EMPRESA_PROVEEDORA}}</option>
                    </select>
                    <div *ngIf="proveedor.invalid && (proveedor.dirty || proveedor.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                        <div *ngIf="proveedor.errors.required">
                            * La proveedor es requerido.
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div class="row justify-content-center ">
                <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                    <a  (click)="insertarProducto(productoForm.value)" class="btn btn-primary btn-icon-split" >
                        <span class="text"><strong>Registrar</strong>&nbsp;<i class="fas fa-save"></i></span>
                    </a>
                </div>
                <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                    <a (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                        <span class="text"><strong>Cancelar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                    </a>
                </div>
                
            </div>
        </form>
        <br>
    </div>
    <!-- <div class="modal-footer">
        
    </div>  -->
</ng-template>