<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar ></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-header></app-header>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <router-outlet></router-outlet>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <app-footer></app-footer>

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
