<!-- <div *ngIf="carga" class="progress" style="height:1rem">
    <ngb-progressbar class="indeterminate" type="primary" height="1rem" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
</div> -->
<!-- *ngIf = "!carga" -->
<div  class="row justify-content-center">
    <mat-progress-bar *ngIf="carga" mode="indeterminate" class="alert-loading"></mat-progress-bar>
    <ngb-alert *ngIf="mostrarAlerta" [type]="tipoAlerta" class="alert-loading" (closed)="mostrarAlerta = false" >{{mensajeAlerta}}</ngb-alert>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Proveedores</h1>
    <br><br>
    <!-- DataTales Example -->  
    <div class="card shadow mb-4 col-12 col-lg-8" style="height: 100%;">
        <div class="card-header py-3 row justify-content-between">
            <div class="col-sm-12 col-lg-5">
                <input type="text" class="border-left-primary font-tamanio form-control" placeholder="Buscar">
            </div>
            <div class="col-12 col-lg-1"> <br></div>
            <div class="col-sm-12 col-lg-3" >
                <!-- (click)="abrirCrearCategoria()" falta añadir funcion que abra el modal para crear un producto -->
                <button   (click)="abrirCrearProveedor();" style="float:right" style="width: 100%;" type="button" class="btn btn-primary">Crear Proveedor</button>
            </div>
        </div>

        <div class="card-body text-gray-400 ">
            <div class="table-module">
                <table class="table table-bordered text-gray-400" id="dataTable" width="100%"  cellspacing="0">
                    <thead>
                        <tr>
                            <th ><span style="color: #6E707E;">#</span></th>
                            <th ><span style="color: #6E707E;">Nombre de la empresa</span></th>
                            <th ><span style="color: #6E707E;">RUC</span></th>
                            <th ><span style="color: #6E707E;">Número de contacto</span></th>
                            <th ><span style="color: #6E707E;">Estado</span></th>   
                            <th ><span style="color: #6E707E;">Acciones</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pro of proveedores | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index">
                            <td class="color-row-table" style="color: #6E707E;">{{i + 1}}</td>
                            <td class="color-row-table" style="color: #6E707E;">{{pro.PROV_EMPRESA_PROVEEDORA}}</td>
                            <td class="color-row-table" style="color: #6E707E;">{{pro.PROV_RUC}}</td>
                            <td class="color-row-table" style="color: #6E707E;">{{pro.PROV_NUMERO_CONTACTO}}</td>
                            <td class="color-row-table" style="color: #6E707E;">{{pro.PROV_ESTADO==1?'Activo':'Inactivo'}}</td>
                            <td class="color-row-table" style="color: #6E707E;">
                                <span class="row col-button-table">

                                    <span class="col-sm-1 button-table" *ngIf="pro.PROV_ESTADO != 1; else Habilitar" >
                                        <a (click)="habilitarInhabilitarProveedor(pro.PROV_ID,pro.PROV_ESTADO)" class="btn btn-success btn-circle btn-sm " ngbTooltip="Habilitar">
                                            <i class="fas fa-check" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <ng-template #Habilitar>
                                        <span class="col-sm-1 button-table">
                                            <a  (click)="habilitarInhabilitarProveedor(pro.PROV_ID,pro.PROV_ESTADO)"  class="btn btn-danger btn-circle btn-sm "ngbTooltip="Deshabilitar">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </ng-template>
                                    <span class="col-sm-1 button-table">
                                        <a (click)="abrirEditarProveedor(pro)" class="btn btn-warning btn-circle btn-sm" ngbTooltip="Editar" >
                                            <i style="color: white;" class="far fa-edit" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                 <!---------------PAGINACIÓN------------->
                 <div *ngIf="proveedores?.length>0" style="margin-top: 5px;" class="row box-footer clearfix">     
                    <div class="col-xl-10 col-lg-9 col-md-9 col-sm-9 col-7">
                    <ngb-pagination *ngIf="proveedores?.length>10" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPage"  [collectionSize]="proveedores?.length" [(page)]="currentPage"></ngb-pagination>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5">
                    <select class="pull-right" [(ngModel)]="itemsPerPage" class="form-control form-control-sm custom-select">
                        <option value="10">10 elementos</option>
                        <option value="15">15 elementos</option>
                        <option value="20">20 elementos</option>                    
                    </select>  
                    </div>    
                </div> 
            </div>
        </div>
    </div>
</div>


<ng-template #editarProveedor let-d="dismiss">
    <div class="modal-header">
        <!-- {{categoriaSeleccionada.CAT_NOMBRE}} FALTA -->
        <h4 class="modal-title" id="exampleModalLongTitle">Proveedor: {{proveedorSeleccionado.PROV_EMPRESA_PROVEEDORA}}</h4>
    </div>
    <mat-progress-bar *ngIf="cargaModal" mode="indeterminate"></mat-progress-bar>
    <div class="modal-body">
        <br>
        <form [formGroup]="proveedorForm">
            <div class="form-group row">
                <div class="col-12 ">
                    <label for="">
                        Nombre de la empresa
                    </label>
                    <div>
                        <input type="text" formControlName="nombreEmpresa" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el nombre">
                        <div *ngIf="nombreEmpresa.invalid && (nombreEmpresa.dirty || nombreEmpresa.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="nombreEmpresa.errors.required">
                            * El nombre de la es requerido.
                            </div>
                            <div *ngIf="nombreEmpresa.errors.maxlength">
                            * Se requieren máximo 100 caracteres.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" style="padding-top: 0.5rem;">
                    <label for="">
                        RUC
                    </label>
                    <div>
                        <input type="text" formControlName="ruc" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el RUC">
                        <div *ngIf="ruc.invalid && (ruc.dirty || ruc.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="ruc.errors.required">
                            * El RUC de la empresa es requerido.
                            </div>
                            <div *ngIf="ruc.errors.maxlength">
                            * Se requieren máximo 11 caracteres.
                            </div>
                            <div *ngIf="ruc.errors.minlength">
                                * Se requieren mínimo 11 caracteres.
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6"style="padding-top: 0.5rem;">
                    <label for="">
                        Número de contacto
                    </label>
                    <div>
                        <input type="text" formControlName="numeroContacto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese número de contacto">
                        <div *ngIf="numeroContacto.invalid && (numeroContacto.dirty || numeroContacto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="numeroContacto.errors.required">
                            * El número de contacto de la empresa es requerido.
                            </div>
                            <div *ngIf="numeroContacto.errors.maxlength">
                            * Se requieren máximo 20 caracteres.
                            </div>
                            <div *ngIf="numeroContacto.errors.minlength">
                                * Se requieren mínimo 12 caracteres.
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
        <br>
        <div class="row justify-content-center ">
            <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                <a  (click)="actualizarProveedor();" class="btn btn-primary btn-icon-split" >
                    <span class="text"><strong>Registrar</strong>&nbsp;<i class="fas fa-save"></i></span>
                </a>
            </div>
            <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                <a (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                    <span class="text"><strong>Cancelar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </a>
            </div>
            
        </div>
    </div>
    <!-- <div class="modal-footer">
    </div>  -->
</ng-template>
<ng-template #crearProveedor let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Crear Proveedor</h4>
        
    </div>
    <mat-progress-bar *ngIf="cargaModal" mode="indeterminate"></mat-progress-bar>
    <div class="modal-body">
        <br>
        <form [formGroup]="proveedorForm">
            <div class="form-group row">
                <div class="col-12 ">
                    <label for="">
                        Nombre de la empresa
                    </label>
                    <div>
                        <input type="text" formControlName="nombreEmpresa" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el nombre">
                        <div *ngIf="nombreEmpresa.invalid && (nombreEmpresa.dirty || nombreEmpresa.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="nombreEmpresa.errors.required">
                            * El nombre de la es requerido.
                            </div>
                            <div *ngIf="nombreEmpresa.errors.maxlength">
                            * Se requieren máximo 100 caracteres.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" style="padding-top: 0.5rem;">
                    <label for="">
                        RUC
                    </label>
                    <div>
                        <input type="text" formControlName="ruc" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el RUC">
                        <div *ngIf="ruc.invalid && (ruc.dirty || ruc.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="ruc.errors.required">
                            * El RUC de la empresa es requerido.
                            </div>
                            <div *ngIf="ruc.errors.maxlength">
                            * Se requieren máximo 11 caracteres.
                            </div>
                            <div *ngIf="ruc.errors.minlength">
                                * Se requieren mínimo 11 caracteres.
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6"style="padding-top: 0.5rem;">
                    <label for="">
                        Número de contacto
                    </label>
                    <div>
                        <input type="text" formControlName="numeroContacto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese número de contacto">
                        <div *ngIf="numeroContacto.invalid && (numeroContacto.dirty || numeroContacto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="numeroContacto.errors.required">
                            * El número de contacto de la empresa es requerido.
                            </div>
                            <div *ngIf="numeroContacto.errors.maxlength">
                            * Se requieren máximo 20 caracteres.
                            </div>
                            <div *ngIf="numeroContacto.errors.minlength">
                                * Se requieren mínimo 12 caracteres.
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
        <br>
        <div class="row justify-content-center ">
            <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                <a  (click)="insertarProveedor();" class="btn btn-primary btn-icon-split" >
                    <span class="text"><strong>Registrar</strong>&nbsp;<i class="fas fa-save"></i></span>
                </a>
            </div>
            <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                <a (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                    <span class="text"><strong>Cancelar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </a>
            </div>
            
        </div>
    </div>
    <!-- <div class="modal-footer">
        
    </div>  -->
</ng-template>