
<!-- *ngIf = "!cargando" -->
<div  class="row justify-content-center">
    <mat-progress-bar *ngIf="cargando && !modalIn" mode="indeterminate" class="alert-loading"></mat-progress-bar>
    <ngb-alert *ngIf="mostrarAlerta && !modalIn" [type]="tipoAlerta" class="alert-loading" (closed)="mostrarAlerta = false" >{{mensajeAlerta}}</ngb-alert>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Proveedores</h1>
    <br><br>
    <!-- DataTales Example -->  
    <div class="card shadow mb-4 col-12 col-lg-8" style="height: 100%;">
        <div class="card-header py-3 row justify-content-between">
            <div class="py-1 col-sm-12 col-md-7 col-lg-7">
                <div class="row">
                    <div class="col-9 col-lg-7">
                        <input type="text" class="border-left-primary font-tamanio form-control" name="busquedaProveedor" placeholder="Buscar..." [(ngModel)]="busquedaProveedor">
                    </div>
                    <div class="col-3 col-lg-2  py-1">
                        <button (click)="filtrarProveedor()" [disabled]="cargando" style="float:right" style="width: 100%;" type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="py-1 col-sm-12 col-md-4 col-lg-3" >
                <button  [disabled]="cargando" (click)="abrirCrearProveedor();" style="float:right" type="button" class="btn btn-primary">Crear Proveedor</button>
            </div>
            
        </div>
        <div class="card-body text-gray-400 ">
            <div class="row" *ngIf="proveedores.length<=0; else proveedores_tabla">
                <h3>No hay proveedores registrados.</h3>
            </div>
            <!---------------PAGINACIÓN------------->
            <div *ngIf="proveedores?.length>0" class="row box-footer clearfix mt-2">     
                <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7 col-6">
                    <ngb-pagination *ngIf="proveedores?.length>10" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPage"  [collectionSize]="proveedores?.length" [(page)]="currentPage"></ngb-pagination>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <select class="pull-right" [(ngModel)]="itemsPerPage" class="form-control form-control-sm custom-select">
                        <option value="10">10 elementos</option>
                        <option value="15">15 elementos</option>
                        <option value="20">20 elementos</option>                    
                    </select>  
                </div>    
            </div> 
            <ng-template #proveedores_tabla>
                <div class="table-module text-center">
                    <table class="table table-bordered text-gray-400" id="dataTable" width="100%"  cellspacing="0">
                        <thead>
                            <tr>
                                <th class="color-row-table">Código</th>
                                <th class="color-row-table">Distribuidor</th>
                                <th class="color-row-table">RUC</th>
                                <th class="color-row-table">Nro. de contacto</th>
                                <th class="color-row-table">Estado</th>   
                                <th class="color-row-table">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pro of proveedores | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index">
                                <td class="color-row-table">{{pro.PROV_ID}}</td>
                                <td class="color-row-table">{{pro.PROV_EMPRESA_PROVEEDORA}}</td>
                                <td class="color-row-table">{{pro.PROV_RUC}}</td>
                                <td class="color-row-table">{{pro.PROV_NUMERO_CONTACTO}}</td>
                                <td class="color-row-table">{{pro.PROV_ESTADO==1?'Activo':pro.PROV_ESTADO==0?'Inactivo':'ERROR'}}</td>
                                <td class="color-row-table">
                                    <div class="row btnes">
                                        <div class="col-1 button-table" *ngIf="pro.PROV_ESTADO != 1; else Habilitar" >
                                            <button [disabled]="cargando" (click)="habilitarInhabilitarProveedor(pro.PROV_ID,pro.PROV_ESTADO)" class="btn btn-success btn-circle btn-sm " ngbTooltip="Habilitar">
                                                <i class="fas fa-check" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <ng-template #Habilitar>
                                            <div class="col-1 button-table">
                                                <button [disabled]="cargando" (click)="habilitarInhabilitarProveedor(pro.PROV_ID,pro.PROV_ESTADO)"  class="btn btn-danger btn-circle btn-sm "ngbTooltip="Deshabilitar">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </ng-template>
                                        <div class="col-1 button-table">
                                            <button [disabled]="cargando" (click)="abrirEditarProveedor(pro)" class="btn btn-warning btn-circle btn-sm" ngbTooltip="Editar" >
                                                <i style="color: white;" class="far fa-edit" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                     
                </div>
            </ng-template>
            
            
        </div>
    </div>
</div>


<ng-template #editarProveedor let-d="dismiss">
    <div class="modal-header">
        <!-- {{categoriaSeleccionada.CAT_NOMBRE}} FALTA -->
        <h4 class="modal-title" id="exampleModalLongTitle">Proveedor: {{proveedorSeleccionado.PROV_EMPRESA_PROVEEDORA}}</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate"></mat-progress-bar>
    <ngb-alert *ngIf="mostrarAlerta && modalIn" [type]="tipoAlerta" (closed)="mostrarAlerta = false" >{{mensajeAlerta}}</ngb-alert>

    <div class="modal-body">
        <br>
        <form [formGroup]="proveedorForm">
            <div class="form-group row">
                <div class="col-12 ">
                    <label for="">
                        Distribuidor
                    </label>
                    <div>
                        <input type="text" formControlName="nombreEmpresa" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el nombre">
                        <div *ngIf="nombreEmpresa.invalid && (nombreEmpresa.dirty || nombreEmpresa.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="nombreEmpresa.errors.required">
                            * El nombre del distribuidor es requerido.
                            </div>
                            <div *ngIf="nombreEmpresa.errors.pattern">
                            * El campo no acepta caracteres numéricos.
                            </div>
                            <div *ngIf="nombreEmpresa.errors.maxlength">
                            * Se requieren máximo 100 caracteres.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" style="padding-top: 0.5rem;">
                    <label for="">
                        RUC
                    </label>
                    <div>
                        <input type="text" formControlName="ruc" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el RUC">
                        <div *ngIf="ruc.invalid && (ruc.dirty || ruc.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="ruc.errors.required">
                            * El RUC de la empresa es requerido.
                            </div>
                            <div *ngIf="ruc.errors.maxlength">
                            * Se requieren máximo 11 caracteres.
                            </div>
                            <div *ngIf="ruc.errors.pattern">
                            * Este campo solo acepta caracteres numéricos.
                            </div>
                            <div *ngIf="ruc.errors.minlength">
                                * Se requieren mínimo 11 caracteres.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6"style="padding-top: 0.5rem;">
                    <label for="">
                        Número de contacto
                    </label>
                    <div>
                        <input type="text" formControlName="numeroContacto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese número de contacto">
                        <div *ngIf="numeroContacto.invalid && (numeroContacto.dirty || numeroContacto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="numeroContacto.errors.required">
                            * El número de contacto de la empresa es requerido.
                            </div>
                            <div *ngIf="numeroContacto.errors.maxlength">
                            * Se requieren máximo 12 caracteres.
                            </div>
                            <div *ngIf="numeroContacto.errors.pattern">
                            * El campo tiene un formato incorrecto.
                            </div>
                            <div *ngIf="numeroContacto.errors.minlength">
                                * Se requieren mínimo 12 caracteres.
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
        <br>
        <div class="row justify-content-center ">
            <div class="my-1 col-sm-3 col-md-4 col-lg-4">
                <button [disabled]="proveedorForm.invalid || cargando" (click)="actualizarProveedor();" class="btn btn-primary btn-icon-split" >
                    <span class="text">Actualizar&nbsp;<i class="fas fa-save"></i></span>
                </button>
            </div>
            <div class="my-1 col-sm-3 col-md-4 col-lg-4">
                <button [disabled]="cargando" (click) = "d('Cross click')" class="btn btn-warning btn-icon-split">
                    <span class="text">Cancelar&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </button>
            </div>
            
        </div>
    </div>
</ng-template>
<ng-template #crearProveedor let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Crear Proveedor</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate"></mat-progress-bar>
    <ngb-alert *ngIf="mostrarAlerta && modalIn" [type]="tipoAlerta" (closed)="mostrarAlerta = false" >{{mensajeAlerta}}</ngb-alert>
    <div class="modal-body">
        <br>
        <form [formGroup]="proveedorForm">
            <div class="form-group row">
                <div class="col-12 ">
                    <label for="">
                        Distribuidor
                    </label>
                    <div>
                        <input type="text" formControlName="nombreEmpresa" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el nombre">
                        <div *ngIf="nombreEmpresa.invalid && (nombreEmpresa.dirty || nombreEmpresa.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="nombreEmpresa.errors.required">
                            * El nombre del distribuidor es requerido.
                            </div>
                            <div *ngIf="nombreEmpresa.errors.pattern">
                            * El campo no acepta caracteres numéricos.
                            </div>
                            <div *ngIf="nombreEmpresa.errors.maxlength">
                            * Se requieren máximo 100 caracteres.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" style="padding-top: 0.5rem;">
                    <label for="">
                        RUC
                    </label>
                    <div>
                        <input type="text" formControlName="ruc" class="border-left-primary font-tamanio form-control" placeholder="Ingrese el RUC">
                        <div *ngIf="ruc.invalid && (ruc.dirty || ruc.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="ruc.errors.required">
                            * El RUC de la empresa es requerido.
                            </div>
                            <div *ngIf="ruc.errors.maxlength">
                            * Se requieren máximo 11 caracteres.
                            </div>
                            <div *ngIf="ruc.errors.pattern">
                                * Este campo solo acepta caracteres numéricos.
                            </div>
                            <div *ngIf="ruc.errors.minlength">
                                * Se requieren mínimo 11 caracteres.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6"style="padding-top: 0.5rem;">
                    <label for="">
                        Número de contacto
                    </label>
                    <div>
                        <input type="text" formControlName="numeroContacto" class="border-left-primary font-tamanio form-control" placeholder="Ingrese número de contacto">
                        <div *ngIf="numeroContacto.invalid && (numeroContacto.dirty || numeroContacto.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                            <div *ngIf="numeroContacto.errors.required">
                            * El número de contacto de la empresa es requerido.
                            </div>
                            <div *ngIf="numeroContacto.errors.maxlength">
                            * Se requieren máximo 12 caracteres.
                            </div>
                            <div *ngIf="numeroContacto.errors.pattern">
                            * El campo tiene un formato incorrecto.
                            </div>
                            <div *ngIf="numeroContacto.errors.minlength">
                                * Se requieren mínimo 12 caracteres.
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
        <br>
        <div class="row justify-content-center ">
            <div class="my-1 col-sm-3 col-md-4 col-lg-4">
                <button  [disabled]="proveedorForm.invalid || cargando" (click)="insertarProveedor();" class="btn btn-primary btn-icon-split" >
                    <span class="text">Registrar&nbsp;<i class="fas fa-save"></i></span>
                </button>
            </div>
            <div class="my-1 col-sm-3 col-md-4 col-lg-4">
                <button [disabled]="cargando" (click)="d('Cross click')" class="btn btn-warning btn-icon-split">
                    <span class="text">Cancelar&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </button>
            </div>
            
        </div>
    </div>
</ng-template>